<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Tài khoản</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">
        <div>
          <div class="card card-cascade narrower ">
            <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
              <h3 class="card-header-title">Cập Nhật Tài Khoản</h3>  
            </div>
        <div class="card-body">
          <form th:object="${taikhoan}" th:action="@{/admin/user/edit}" action="#" enctype="multipart/form-data" method="post">
            <div th:switch="${messages}">
              <p th:case="'thanhcong'" class="alert alert-success" role="alert">Cập nhật thành công!</p>
            </div>
          <!-- Section heading -->

          <!-- Grid row -->
          <div class="row">

            <div class="col-md-3 mb-4">
              <div class="file-field">
                <div class="z-depth-1-half mb-4">
                  <img id="blah" th:src="@{'/getImage/'+ ${taikhoan.hinhanh}}"  class="img-fluid"  alt="Không có ảnh" style="height: 153px; min-width: 100%"/>
                  <input type="hidden" th:field="*{hinhanh}" id="form36" class="form-control">
                </div>
                <div class="d-flex justify-content-center">
                  <div class="btn btn-mdb-color btn-rounded float-left">
                    <span>Choose file</span>
                    <input type="file" id="imgInp" name="images">
                  </div>
                </div>
              </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-9 mb-2">
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 mb-2">

                  <div class="md-form md-outline">
                    <i class="fas fa-key prefix"></i>
                    <input type="text" th:field="*{username}" id="form31" class="form-control" readonly>
                    <input type="hidden" th:field="*{matkhau}"  id="form33" class="form-control">
                    <label for="form31" class="active">Tài Khoản</label>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger text-center"></p>
                  </div>

                </div>

                <div class="col-md-4 mb-2">
                  <select th:field="*{quyen}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                    <option th:each="quyen1 : ${@quyenServiceImpl.getAllQuyen()}" th:value="${quyen1.id}" th:text="${quyen1.ten}">Hiện</option>
                  </select><label class="mdb-main-label active">Quyền</label>
                </div>
                <div class="col-md-4 mb-4">

                  <div class="md-form md-outline">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" th:field="*{ten}" id="form32" class="form-control">
                    <label for="form32" class="active">Tên Nhân Viên</label>
                    <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger text-center"></p>
                  </div>

                </div>
              </div>

              <div  class="row">
                <div class="col-md-6 mb-4">

                  <div class="md-form md-outline">
                    <i class="fas fa-phone prefix"></i>
                    <input type="number" th:field="*{sodienthoai}" id="form35" class="form-control">
                    <label for="form35" class="active">Số Điện Thoại</label>
                    <p th:if="${#fields.hasErrors('sodienthoai')}" th:errors="*{sodienthoai}" class="text-danger text-center"></p>
                  </div>

                </div>

                <div class="col-md-6 mb-4">

                  <div class="md-form md-outline">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="email" th:field="*{email}" id="form36" class="form-control">
                    <label for="form36" class="active">Email</label>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger text-center"></p>
                  </div>

                </div>

                <!-- Grid column -->
              </div>
            </div>
            <!-- Grid row -->

          </div>

          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

                <div class="md-form md-outline">
                  <i class="fas fa-calendar-alt prefix"></i>
                  <input type="date" th:field="*{ngaysinh}" id="form34" class="form-control">
                  <label for="form34" class="active">Ngày Sinh</label>
                  <p th:if="${#fields.hasErrors('ngaysinh')}" th:errors="*{ngaysinh}" class="text-danger text-center"></p>
                </div>
  
              </div>
            <div class="col-md-4 mb-4">

              <!-- Name -->
              <select  th:field="*{gioitinh}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:value="'0'" th:text="Nam" ></option>
                <option th:value="'1'" th:text="Nữ"></option>
              </select><label class="mdb-main-label active">Giới Tính</label>

            </div>

            <div class="col-md-4 mb-4">

              <!-- Name -->
              <select th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:value="'0'" th:text="Hiện" ></option>
                <option th:value="'1'" th:text="Ẩn"></option>
              </select><label class="mdb-main-label active">Trạng thái</label>

            </div>


          </div>

          <div class="row">
            <div class="col-md-6 mb-6">

                <div class="md-form md-outline">
                  <i class="fas fa-address-card prefix"></i>
                  <textarea type="textarea"  th:field="*{diachi}" id="form37" class="form-control"></textarea>
                  <label for="form37" class="active">Địa Chỉ</label>
                </div>
  
            </div>
            <div class="col-md-6 mb-6">

                <div class="md-form md-outline">
                  <i class="fas fa-clipboard prefix"></i>
                  <textarea type="textarea" th:field="*{mota}" id="form38" class="form-control"></textarea>
                  <label for="form38" class="active">Mô tả</label>
                </div>
  
            </div>
          </div>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-user-plus prefix"></i>
                <input type="text" id="form39" class="form-control" readonly>
                <label for="form39" class="active">Người Tạo</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-plus prefix"></i>
                <input type="datetime-local" th:field="*{ngaytao}" id="form40" class="form-control" readonly>
                <label for="form40" class="active">Ngày Tạo</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-user-edit prefix"></i>
                <input type="text" id="form41" class="form-control" readonly>
                <label for="form41" class="active">Người Sửa</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-alt prefix"></i>
                <input type="date" id="form42" class="form-control" readonly>
                <label for="form42" class="active">Ngày Sửa</label>
              </div>

            </div>
            <!-- Grid column -->



          </div>
          <!-- Grid row -->
          <hr>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 ">

              <button type="submit" class="btn blue-gradient float-right btn-rounded ">CẬP NHẬT</button>

            </div>
            <!-- Grid column -->

          </div>
          </form>
        </div>
        </div>
        </div>
      </section>
      <!-- Section: Inputs -->
    </div>
  </main>
  <!-- Main layout -->
  <th:block layout:fragment="optional">
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
      }

      $('#imgInp').change(function() {
        readURL(this);

      });
    </script>
  </th:block>
</body>

</html>