<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">BEECINEMA</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}">
</head>
<body class="fixed-sn white-skin">
<!-- Main Navigation -->
<header>

    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
        <ul class="custom-scrollbar">

            <!-- Logo -->
            <li class="logo-sn waves-effect py-3">
                <div class="text-center">
                    <a href="#" class="pl-0"><img th:src="@{/img/logo80x160noBG.png}"></a>
                </div>
            </li>

            <!-- Search Form -->

            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-user"></i><span th:text="#{secondWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/user/show-user}" class="waves-effect" th:text="#{thirdWord}" ></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/user/add-user}"class="waves-effect" th:text="#{fourthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-film"></i><span th:text="#{fifthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/movie/show-movie}" class="waves-effect" th:text="#{sixthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/movie/add-movie}" class="waves-effect" th:text="#{seventhWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-image"></i><span th:text="#{eighthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/movie-type/show-movie-type}" class="waves-effect" th:text="#{ninthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/movie-type/add-movie-type}" class="waves-effect" th:text="#{tenthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-globe"></i><span th:text="#{eleventhWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/language/show-language}" class="waves-effect" th:text="#{twelfthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/language/add-language}" class="waves-effect" th:text="#{thirteenthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-comment"></i><span th:text="#{fourteenthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/comment/show-comment}" class="waves-effect" th:text="#{fifteenthWord}"></a>
                                </li>
<!--                                <li>-->
<!--                                    <a th:href="@{/admin/comment/add-comment}" class="waves-effect">Thêm Comment</a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-image"></i><span th:text="#{sixteenthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/age/show-age}" class="waves-effect" th:text="#{seventeenthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/age/add-age}" class="waves-effect" th:text="#{eighteenthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-calendar-week"></i><span th:text="#{nineteenthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/event/show-event}" class="waves-effect" th:text="#{twentiethWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/event/add-event}" class="waves-effect" th:text="#{twenty-FirstWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-person-booth"></i><span th:text="#{twenty-SecondWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/room/show-room}" class="waves-effect" th:text="#{twenty-ThirdWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/room/add-room}" class="waves-effect" th:text="#{twenty-FourthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="far fa-caret-square-left"></i><span th:text="#{twenty-FifthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/screenings/show-screenings}" class="waves-effect" th:text="#{twenty-SixthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/screenings/add-screenings}" class="waves-effect" th:text="#{twenty-SeventhWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-clock"></i><span th:text="#{twenty-EighthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/showtime/show-showtime}" class="waves-effect" th:text="#{twenty-NinthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/showtime/add-showtime}" class="waves-effect" th:text="#{thirtiethWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-chair"></i><span th:text="#{thirty-FirstWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/seat/show-seat}" class="waves-effect" th:text="#{thirty-SecondWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/seat/add-seat}" class="waves-effect" th:text="#{thirty-ThirdWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-couch"></i><span th:text="#{thirty-FourthWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/row-seat/show-row-seat}" class="waves-effect" th:text="#{thirty-FifthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/row-seat/add-row-seat}" class="waves-effect" th:text="#{thirty-SixthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-wheelchair"></i><span th:text="#{thirty-SeventhWord}"></span><i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a th:href="@{/admin/seat-type/show-seat-type}" class="waves-effect" th:text="#{thirty-EighthWord}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/seat-type/add-seat-type}" class="waves-effect" th:text="#{thirty-NinthWord}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>





                </ul>
            </li>
            <!-- Side navigation links -->

        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
    <!-- Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
        </div>

        <!-- Breadcrumb -->
        <div class="breadcrumb-dn mr-auto">
            <p class="font-weight-bold">Tài Khoản</p>
        </div>

        <div class="breadcrumb-dn mr-auto">
            <a href="/admin/user/show-user?lang=vi" >VI</a>
        </div>
        <div class="breadcrumb-dn mr-auto">
            <a href="/admin/user/show-user?lang=en" >EN</a>
        </div>

        <!-- Navbar links -->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Tài Khoản</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="dropdown-item" value="Log Out">
                    </form>
                    <a class="dropdown-item" th:href="@{/admin/profile/update-profile}" >Cập nhật Tài khoản</a>
                </div>
            </li>

        </ul>
        <!-- Navbar links -->

    </nav>
    <!-- Navbar -->

</header>
<!-- Main Navigation -->

<section layout:fragment="content" style="min-height: 90vh;">
    <p>This is filled by the content template.</p>
</section>

<footer class="page-footer pt-0 mt-5">

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2020 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> BeeCinema.com </a>

        </div>
    </div>
    <!-- Copyright -->

</footer>

<th:block layout:fragment="optional" />

<!-- JQuery -->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<!-- Custom scripts -->
<script>
    // SideNav Initialization
    $(".button-collapse").sideNav();

    var container = document.querySelector('.custom-scrollbar');
    var ps = new PerfectScrollbar(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
    });

    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });

</script>
</body>
</html>