<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
 <title>Quyền</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">
        <div>
          <div class="card card-cascade narrower ">
            <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
              <h3 class="card-header-title">Thêm mới Quyền</h3>  
            </div>
        <div class="card-body">
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mb-4">

              <div class="md-form md-outline">
                <i class="fas fa-key prefix"></i>
                <input type="text" id="form31" class="form-control">
                <label for="form31" class="active">ID</label>
              </div>

            </div>

            <div class="col-md-10 mb-10">

                <div class="md-form md-outline">
                  <input type="text" id="form32" class="form-control">
                  <label for="form32" class="active">Tên</label>
                </div>
  
              </div>
            
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
          <hr>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 ">

              <button type="button" class="btn blue-gradient float-right btn-rounded ">Thêm</button>

            </div>
            <!-- Grid column -->

          </div>

        </div>
        </div>
        </div>
      </section>
      <!-- Section: Inputs -->
    </div>
  </main>
  <!-- Main layout -->

</body>

</html>