<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Thêm phim</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">
        <div>
          <div class="card card-cascade narrower ">
            <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
              <h3 class="card-header-title">Thêm mới Phim</h3>  
            </div>
        <div class="card-body">
          <form th:object="${phim}" th:action="@{/admin/movie/add-movie}" action="#" method="post">
          <!-- Section heading -->
            <div th:switch="${messages}">
              <p th:case="'thanhcong'" class="alert alert-success" role="alert">Thêm thành công!</p>
              <p th:case="'trungid'" class="alert alert-danger" role="alert">ID đã tồn tại</p>
            </div>
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mb-3">

              <div class="md-form md-outline">
                <i class="fas fa-key prefix"></i>
                <input type="text" th:field="*{id}" id="form31" class="form-control">
                <label for="form31" class="active">ID</label>
                <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger text-center"></p>
              </div>

            </div>
<!--            <div class="col-md-3 mb-3">-->

<!--                <div class="md-form md-outline">-->
<!--                  <i class="fas fa-image prefix"></i>-->
<!--                  <input type="text" id="form31" class="form-control">-->
<!--                  <label for="form31" class="active">Độ tuổi</label>-->
<!--                </div>-->
<!--  -->
<!--            </div>-->
            <div class="col-md-3 mb-3">
              <select th:field="*{dotuoi}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:each="dotuoi1 : ${@doTuoiServiceImpl.getAllDoTuoi()}" th:value="${dotuoi1.id}" th:text="${dotuoi1.ten}">Hiện</option>
              </select><label class="mdb-main-label active">Độ tuổi</label>
            </div>

            <div class="col-md-3 mb-3">
              <select th:field="*{ngonngu}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:each="ngonngu1 : ${@ngonNguServiceImpl.getAllNgonNgu()}" th:value="${ngonngu1.id}" th:text="${ngonngu1.ten}">Hiện</option>
              </select><label class="mdb-main-label active">Ngôn ngữ</label>
            </div>

            <div class="col-md-3 mb-3">
              <select th:field="*{loaiphim}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:each="loaiphim1 : ${@loaiPhimServiceImpl.getAllLoaiPhim()}" th:value="${loaiphim1.id}" th:text="${loaiphim1.ten}">Hiện</option>
              </select><label class="mdb-main-label active">Loại phim</label>
            </div>

            
            <!-- Grid column -->

          </div>

          <div class="row">
            <div class="col-md-4 mb-4">

                <div class="md-form md-outline">
                  <i class="fas fa-film prefix"></i>
                  <input type="text" th:field="*{ten}" id="form31" class="form-control">
                  <label for="form31" class="active">Tên phim</label>
                  <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger text-center"></p>
                </div>
  
            </div>

            <div class="col-md-4 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-day prefix"></i>
                <input  type="datetime-local" th:field="*{ngaybatdau}" id="form31" class="form-control">
                <label for="form31" class="active">Ngày Bắt đầu</label>
                <p th:if="${#fields.hasErrors('ngaybatdau')}" th:errors="*{ngaybatdau}" class="text-danger text-center"></p>
              </div>

            </div>

            <div class="col-md-4 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-day prefix"></i>
                <input  type="datetime-local" th:field="*{ngayketthuc}" id="form31" class="form-control">
                <label for="form31" class="active">Ngày Kết thúc</label>
                <p th:if="${#fields.hasErrors('ngayketthuc')}" th:errors="*{ngayketthuc}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- <div class="col-md-3 mb-3">

                <div class="md-form md-outline">
                  <input type="text" id="form31" class="form-control">
                  <label for="form31" class="active">Nhân viên</label>
                </div>
  
            </div> -->
<!--            <div class="col-md-6 mb-6">-->

<!--                <div class="md-form md-outline">-->
<!--                    <label for="form31"></label>-->
<!--                    &lt;!&ndash; <img src="../../img/photo.jpg" name="test" style="width: 200px; height: 120px;"  /> <br><br> &ndash;&gt;-->
<!--                  <input type="file" id="form31" class="form-control-file">-->
<!--                </div>-->
<!--  -->
<!--            </div>-->
            
          </div>
          <div class="row">
            <div class="col-md-6 mb-6">

              <div class="md-form md-outline">
                <i class="fas fa-clock prefix"></i>
                <input type="text" th:field="*{dodai}" id="form31" class="form-control">
                <label for="form31" class="active">Độ dài</label>
                <p th:if="${#fields.hasErrors('dodai')}" th:errors="*{dodai}" class="text-danger text-center"></p>
              </div>

          </div>
            <div class="col-md-6 mb-6">

              <!-- Name -->
              <select th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:value="'0'" th:text="Hiện" ></option>
                <option th:value="'1'" th:text="Ẩn"></option>
              </select><label class="mdb-main-label active">Trạng thái</label>

            </div>          
          </div>
          <div class="row">
            <div class="col-md-12 mb-12">

                <div class="md-form md-outline">
                  <i class="fas fa-clipboard prefix"></i>
                  <textarea type="textarea"  th:field="*{mota}" id="form31" class="form-control"></textarea>
                  <label for="form31" class="active">Mô tả</label>
                </div>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 ">

              <button type="submit" class="btn blue-gradient float-right btn-rounded ">THÊM</button>

            </div>
            <!-- Grid column -->

          </div>
          </form>
        </div>
        </div>
        </div>
      </section>
      <!-- Section: Inputs -->
    </div>
  </main>
  <!-- Main layout -->

</body>

</html>