<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
 <title>Thêm suất chiếu</title>
</head>

<body th:attr="onload=${mess}">

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">



      <!-- Section: Inputs -->
      <section >
        <div>
        <div class="card card-cascade narrower ">
          <!-- Card image -->
          <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
            <h3 class="card-header-title">Thêm mới Suất Chiếu</h3>
          </div>
          <!-- /Card image -->
          <!-- Section heading -->
          <div class="card-body ">
            <form th:object="${suatChieu}" th:action="@{/admin/screenings/add-screenings}" action="#" method="post">
            <!-- Section heading -->
            <div th:switch="${messages}">
              <p th:case="'thanhcong'" class="alert alert-success" role="alert">Thêm thành công!</p>
              <p th:case="'trungid'" class="alert alert-danger" role="alert">ID đã tồn tại</p>
            </div>
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mb-4">

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
              <select th:field="*{phim}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:each="phim : ${@phimServiceImpl.getAllPhim()}" th:value="${phim.id}" th:text="${phim.ten}"></option>
              </select><label class="mdb-main-label active">Tên Phim</label>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">

              <!-- Name -->
              <select th:field="*{phong}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:each="phong : ${@phongServiceImpl.getAllPhong()}" th:value="${phong.id}" th:text="${phong.ten}"></option>
              </select><label class="mdb-main-label active">Tên Phòng</label>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">

              <!-- Name -->
              <select th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:value="'0'" th:text="Hiện"  ></option>
                <option th:value="'1'" th:text="Ẩn" ></option>
              </select><label class="mdb-main-label active">Trạng thái</label>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

           <!-- Grid row -->
           <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-day prefix"></i>
                <input type="date" th:field="*{ngaychieu}" id="datePicker" class="form-control" value="">
                <label for="datePicker" class="active">Ngày Chiếu</label>
                <p th:if="${#fields.hasErrors('ngaychieu')}" th:errors="*{ngaychieu}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <select th:field="*{khunggio}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:each="khunggio : ${@khungGioServiceImpl.getAllKhungGio()}" th:value="${khunggio.id}" th:text="${khunggio.batdau} + ' - ' + ${khunggio.ketthuc}"></option>
              </select><label class="mdb-main-label active">Khung Giờ</label>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-money-bill prefix"></i>
                <input  type="number" th:field="*{dongia}" id="form32" class="form-control" min="0" step="1000" >
                <label for="form32" class="active">Đơn Giá</label>
                <p th:if="${#fields.hasErrors('dongia')}" th:errors="*{dongia}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">

              <div class="md-form md-outline">
                <i class="fas fa-money-bill prefix"></i>
                <input  type="number" th:field="*{phuthuyonline}" id="form33" class="form-control">
                <label for="form33" class="active">Phút Hủy Online</label>
                <p th:if="${#fields.hasErrors('phuthuyonline')}" th:errors="*{phuthuyonline}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <hr/>
           <!-- Grid row -->
           <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 center">

              <button type="submit" class="btn blue-gradient btn-rounded float-right ">THÊM</button>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
            </form>
          </div>
        </div>
      </div>
      </section>
      <!-- Section: Inputs -->


    </div>
  </main>

  <!-- Main layout -->
  <th:block layout:fragment="optional">

    <script>
      document.getElementById('datePicker').valueAsDate = new Date();
    </script>
  </th:block>
</body>

</html>
