<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
    <meta charset="utf-8">
    <title>Danh sách suất chiếu</title>
</head>

<body>

<!-- Main layout -->
<main layout:fragment="content">
    <div class="container-fluid">

        <!-- Section: Basic examples -->
        <section>


            <!-- Top Table UI -->
            <div class="card p-2 mb-5">

                <!-- Grid row -->
                <div class="row">


                    <!-- Grid column -->
                    <div class="col-lg-12 col-md-12">

                        <!-- Blue select -->
                        <div class="md-form">
                            <input placeholder="Selected date" type="text" id="datepicker"
                                   class="form-control datepicker text-center">
                            <label for="datepicker" class="active">Ngày chiếu</label>
                        </div>
                        <!-- /Blue select -->

                    </div>
                    <!-- Grid column -->


                </div>
                <!-- Grid row -->

            </div>
            <!-- Top Table UI -->

            <div class="card card-cascade narrower z-depth-1">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">


                    <h4 class="white-text font-weight-bold" th:text="#{one-hundred-and-twentyoneWord}"></h4>


                </div>
                <!-- /Card image -->

                <div class="container-fluid mb-5" id="dataSC">
                    <div class="row">
                        <div class="col-12 text-center">Phòng 1 <a class="btn-floating btn-sm btn-secondary"><i
                                class="fas fa-plus-circle"></i></a></div>

                        <div class="col-2 d-flex justify-content-center">
                            <button class="btn btn-warning btn-sm">time-time</button>
                        </div>

                    </div>

                </div>


            </div>

        </section>
        <!-- Section: Basic examples -->
        <section>
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suất chiếu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="#" id="addSC">
                            <input id="idphong" type="hidden" name="idphong">
                            <input id="ngaychieu" type="hidden" name="ngaychieu">
                            <div class="modal-body">
                                <select class="mdb-select md-form" searchable="Search here.." id="idphim" name="idphim">
                                    <option value="none" disabled selected>Choose film</option>
                                    <option th:each="df : ${@phimServiceImpl.getAllPhimAlive()}"
                                            th:value="${df.getId()}"
                                            th:text="${df.getTen()}"></option>
                                </select><label class="mdb-main-label active">Phim</label>
                                <div class="md-form md-outline">
                                    <i class="fas fa-money-bill prefix"></i>
                                    <input type="number" name="dongia" placeholder="Đơn Giá" id="form31232"
                                           class="form-control" min="0"
                                           value="50000" step="5000">
                                    <label for="form31232" class="active">Đơn Giá</label>
                                </div>
                                <div class="md-form md-outline">
                                    <i class="fas fa-money-bill prefix"></i>
                                    <input type="number" id="form33" value="10" placeholder="Phút Hủy Online"
                                           class="form-control" name="phuthuyonline">
                                    <label for="form33" class="active">Phút Hủy Online</label>
                                </div>

                                <select id="idkhunggio" class="mdb-select md-form" searchable="Search here.."
                                        name="idkhunggio">
                                    <option value="none" disabled selected>Choose time</option>
                                    <option th:each="khunggio : ${@khungGioServiceImpl.getAllKhungGio()}"
                                            th:value="${khunggio.id}"
                                            th:text="${khunggio.getId()} +' | '+${khunggio.batdau} + ' - ' + ${khunggio.ketthuc}"></option>
                                    <label class="mdb-main-label active">Khung Giờ</label>
                                </select><label class="mdb-main-label active">Khung giờ</label>
                                <select id="tthai"
                                        class="mdb-select md-form colorful-select dropdown-primary initialized"
                                        name="trangthai">
                                    <option th:value="'0'" th:text="Hiện"></option>
                                    <option th:value="'1'" th:text="Ẩn"></option>
                                </select><label class="mdb-main-label active">Trạng thái</label>
                            </div>
                            <div id="actionModal" class="modal-footer">

                            </div>
                        </form>
                        <input type="hidden" id="idsuatchieucurrent">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Main layout -->
<th:block layout:fragment="optional">
    <script>
        $(document).ready(function () {
            let $input = $('.datepicker').pickadate({format: 'dd/mm/yyyy', formatSubmit: 'dd/mm/yyyy'});
            let picker = $input.pickadate('picker');
            let date = new Date();
            var listSC = [];
            var content = '';
            picker.set('select', date);
            $('body').ready(loadSuatChieu());

            $('#idphim').change(function () {
                var content ='';
                var listKG = [];
                $.ajax({
                    url:'/api/admin/getKhungGio?idphim='+$(this).val(),
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data) {
                        listKG = data;
                        console.log(listKG.length)
                        content+='<option value="none" disabled selected>Choose time</option>';
                        for (var i = 0; i < listKG.length; i++) {
                            content+='<option value="'+listKG[i].id+'">'+listKG[i].time+'</option>'
                        }
                        $('#idkhunggio').html(content);
                    }
                });
            });


            function loadSuatChieu() {
                console.log($input.val());
                $.ajax({
                    url: '/api/admin/listSuatChieu?date=' + $input.val(),
                    type: 'POST',
                    dataType: 'JSON',
                    beforeSend: function () {
                        $('#dataSC').html('<div class="d-flex justify-content-center align-items-center preloader-wrapper big active">\n' +
                            '  <div class="spinner-layer spinner-red-only">\n' +
                            '    <div class="circle-clipper left">\n' +
                            '      <div class="circle"></div>\n' +
                            '    </div>\n' +
                            '    <div class="gap-patch">\n' +
                            '      <div class="circle"></div>\n' +
                            '    </div>\n' +
                            '    <div class="circle-clipper right">\n' +
                            '      <div class="circle"></div>\n' +
                            '    </div>\n' +
                            '  </div>\n' +
                            '</div>');
                    },
                    success: function (data) {
                        listSC = data;
                    },
                    complete: function () {
                        fillSC();
                    }
                })
            }

            function fillSC() {
                var container = '';
                for (var i = 0; i < listSC.length; i++) {
                    container += '<div class="row d-flex justify-content-center">\n' +
                        '                        <div class="col-6 text-right my-auto p-0">' + listSC[i].ten + '</div><div class="col-6 p-0"><option value="' + listSC[i].id + '" class="btn-floating btn-sm btn-secondary d-flex align-items-center justify-content-center addSC"  data-toggle="modal" data-target="#basicExampleModal">+</option></div>'
                    for (var ii = 0; ii < listSC[i].suatChieuResponses.length; ii++) {
                        container += '                        <div class="col-2 d-flex justify-content-center">\n' +
                            '                            <option data-toggle="modal" data-target="#basicExampleModal" value="' + listSC[i].suatChieuResponses[ii].id + '" class="btn btn-warning btn-sm editSC">' + listSC[i].suatChieuResponses[ii].batdau + '-' + listSC[i].suatChieuResponses[ii].ketthuc + '</option>\n' +
                            '                        </div>\n'
                    }
                    container += '</div>'
                }
                $('#dataSC').html(container);
            }

            $(document).on('change', '#datepicker', function () {
                loadSuatChieu();
            });

            $(document).on('click', 'option.addSC', function () {
                clearModal();
                $('#idphong').val($(this).val());
                $('#ngaychieu').val($('#datepicker').val());
                $('#actionModal').html(' <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>\n' +
                    '                                <button type="button" id="subaddSC" data-dismiss="modal" class="btn btn-primary">Thêm</button>')
            });

            $.fn.serializeObject = function () {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function () {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };

            $(document).on('click', '#subaddSC', function () {
                var dataform = $('#addSC').serializeObject();
                console.log(dataform);
                $.ajax({
                    url: '/api/admin/addSC',
                    type: 'POST',
                    data: JSON.stringify(dataform),
                    dataType: 'JSON',
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $('#basicExampleModal').modal('hide');
                        $('#loading').html('<div class="parent-p"><div class="spinner"></div></div>');
                    },
                    success: function (chk) {
                        var bo = chk;
                        console.log(bo);
                        if (bo) {
                            toastr.success('Thêm thành công', '', {positionClass: 'md-toast-top-right'});
                        } else {
                            toastr.error('Thêm thất bại', '', {positionClass: 'md-toast-top-right'});
                        }

                        loadSuatChieu();
                        clearModal();
                    },
                    error: function () {
                        toastr.error('Thêm thất bại', '', {positionClass: 'md-toast-top-right'});
                        loadSuatChieu();
                        clearModal();
                    },
                    complete: function () {
                        $('#loading').html('');
                    }
                })
            });

            function clearModal() {
                $("#idphim").val('none');
                $('#form31232').val(50000);
                $('#form33').val(10);
                $('#idkhunggio').val('none');
                $('#tthai').val('0');
            }

            $(document).on('click', 'option.editSC', function () {
                console.log($(this).val());
                for (var i = 0; i < listSC.length; i++) {
                    for (var ii = 0; ii < listSC[i].suatChieuResponses.length; ii++) {
                        if (listSC[i].suatChieuResponses[ii].id == $(this).val()) {
                            $('#idsuatchieucurrent').val($(this).val());
                            $('#idphong').val(listSC[i].suatChieuResponses[ii].idphong);
                            $('#ngaychieu').val(listSC[i].suatChieuResponses[ii].ngaychieu);
                            $('#idphim').val(listSC[i].suatChieuResponses[ii].idphim);
                            $('#form31232').val(listSC[i].suatChieuResponses[ii].dongia);
                            $('#form33').val(listSC[i].suatChieuResponses[ii].phuthuyonline);
                            $('#idkhunggio').val(listSC[i].suatChieuResponses[ii].idkhunggio)
                            $('#tthai').val(listSC[i].suatChieuResponses[ii].trangthai);
                            $('#actionModal').html(' <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>\n' +
                                '                                <button type="button" id="subdelSC" data-dismiss="modal" class="btn btn-primary">Xóa</button>' +
                                '                                <button type="button" id="subeditSC" data-dismiss="modal" class="btn btn-primary">Lưu</button>');
                        }
                    }
                }
            });

            $(document).on('click', '#subeditSC', function () {
                var dataform = $('#addSC').serializeObject();
                console.log(dataform);
                $.ajax({
                    url: '/api/admin/editSC?idsuatchieu=' + $('#idsuatchieucurrent').val(),
                    type: 'POST',
                    data: JSON.stringify(dataform),
                    dataType: 'JSON',
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $('#basicExampleModal').modal('hide');
                        $('#loading').html('<div class="parent-p"><div class="spinner"></div></div>');
                    },
                    success: function (chk) {
                        var bo = chk;
                        console.log(bo);
                        if (bo) {
                            toastr.success('Sửa thành công', '', {positionClass: 'md-toast-top-right'});
                        } else {
                            toastr.error('Sửa thất bại suất chiếu đã có vé hoặc đã xãy ra xung đột', '', {positionClass: 'md-toast-top-right'});
                        }

                        loadSuatChieu();
                        clearModal();
                    },
                    error: function () {
                        toastr.error('Sửa thất bại', '', {positionClass: 'md-toast-top-right'});
                        loadSuatChieu();
                        clearModal();
                    },complete: function () {
                        $('#loading').html('');
                    }
                })
            });





            $(document).on('click', '#subdelSC', function () {
                $.ajax({
                    url: '/api/admin/delSC?idsuatchieu=' + $('#idsuatchieucurrent').val(),
                    type: 'POST',
                    beforeSend: function (){
                        $('#basicExampleModal').modal('hide');
                        $('#loading').html('<div class="parent-p"><div class="spinner"></div></div>');
                    },
                    success: function () {
                        toastr.success('Xóa thành công', '', {positionClass: 'md-toast-top-right'});
                        loadSuatChieu();
                        clearModal();
                    },
                    error: function () {
                        toastr.error('Xóa thất bại suất này đã có vé', '', {positionClass: 'md-toast-top-right'});
                        clearModal();
                    },complete: function () {
                        $('#loading').html('');
                    }
                })
            });
        })


    </script>
</th:block>
</body>

</html>
