<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Material Design Bootstrap</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

      <!-- Section: Intro -->
      <section class="mt-md-4 pt-md-2 mb-5 pb-4">

        <!-- Grid row -->
        <div class="row mb-5">

          <!-- Grid column -->
          <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-film primary-color mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Tổng</p>
                  <h4 class="font-weight-bold dark-grey-text" id="countSlPhimTheoThang"></h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <hr/>
                </div>
                <p class="card-text">Phim trong tháng</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-ticket-alt warning-color mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Tổng</p>
                  <h4 class="font-weight-bold dark-grey-text">500</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <hr/>
                </div>
                <p class="card-text">Vé chưa bán trong tháng</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-3 col-md-6 mb-md-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-ticket-alt light-blue lighten-1 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Tổng</p>
                  <h4 class="font-weight-bold dark-grey-text" id="countVeTheoThang"></h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <hr/>
                </div>
                <p class="card-text">Vé bán trong tháng</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-3 col-md-6 mb-0">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-chart-bar red accent-2 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Tổng</p>
                  <h4 class="font-weight-bold dark-grey-text" id="countDoanhThuTheoThang"></h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <hr/>
                </div>
                <p class="card-text">Doanh thu trong tháng</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Top Table UI -->

        <div class="card card-cascade narrower z-depth-1 mt-5">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <h4 class="white-text font-weight-bold text-center" >Thống kê</h4>

          </div>
          <!-- /Card image -->

              <div class="p-3 m-3" style="height:1000px">

                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-md-3">
                    <div class="view overlay zoom">
                      <div class="card orange lighten-3">
                        <div class="card-body pb-0">
                          <i class="fas fa-sun fa-3x pb-4"></i>
                          <div class="d-flex justify-content-between">
                            <p class="mb-0 h5">23&deg;</p>
                            <p class="mb-0 hour">3:25 PM</p>
                          </div>
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                          <h6 class="font-weight-bold mb-1">New York City</h6>
                          <p class="mb-0">Sunny</p>
                        </div>
                      </div>
                      <div class="mask rgba-black-strong text-center d-flex align-items-center justify-content-center ">
                        <button class="btn btn-outline-white waves-effect "  data-toggle="modal" data-target="#modal1">CHI TIẾT</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="view overlay zoom">
                    <div class="card indigo lighten-3">
                      <div class="card-body pb-0">
                        <i class="fas fa-tint fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">10&deg;</p>
                          <p class="mb-0 hour">10:30 AM</p>
                        </div>
                      </div>
                      <hr>
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">Seattle</h6>
                        <p class="mb-0">Light rain</p>
                      </div>
                      <div class="mask rgba-black-strong text-center d-flex align-items-center justify-content-center ">
                        <a class="btn btn-outline-white waves-effect ">CHI TIẾT</a>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="view overlay zoom">
                    <div class="card grey lighten-2">
                      <div class="card-body pb-0">
                        <i class="fas fa-cloud fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">14&deg;</p>
                          <p class="mb-0 hour">8:10 PM</p>
                        </div>
                      </div>
                      <hr>
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">Milwaukee</h6>
                        <p class="mb-0">Cloudy</p>
                      </div>
                      <div class="mask rgba-black-strong text-center d-flex align-items-center justify-content-center ">
                        <a class="btn btn-outline-white waves-effect ">CHI TIẾT</a>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="view overlay zoom">
                    <div class="card indigo white-text">
                      <div class="card-body pb-0">
                        <i class="fas fa-umbrella fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">5&deg;</p>
                          <p class="mb-0 hour">7:00 AM</p>
                        </div>
                      </div>
                      <hr class="hr-light">
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">Anchorage</h6>
                        <p class="mb-0">Heavy rain</p>
                      </div>
                      <div class="mask rgba-black-strong text-center d-flex align-items-center justify-content-center ">
                        <button type="button" class="btn btn-outline-white waves-effect " data-toggle="modal" data-target=".bd-example-modal-xl">CHI TIẾT</button>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-md-3">
                    <div class="card orange lighten-3">
                      <div class="card-body pb-0">
                        <i class="fas fa-sun fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">23&deg;</p>
                          <p class="mb-0 hour">3:25 PM</p>
                        </div>
                      </div>
                      <hr>
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">New York City</h6>
                        <p class="mb-0">Sunny</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card indigo lighten-3">
                      <div class="card-body pb-0">
                        <i class="fas fa-tint fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">10&deg;</p>
                          <p class="mb-0 hour">10:30 AM</p>
                        </div>
                      </div>
                      <hr>
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">Seattle</h6>
                        <p class="mb-0">Light rain</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card grey lighten-2">
                      <div class="card-body pb-0">
                        <i class="fas fa-cloud fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">14&deg;</p>
                          <p class="mb-0 hour">8:10 PM</p>
                        </div>
                      </div>
                      <hr>
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">Milwaukee</h6>
                        <p class="mb-0">Cloudy</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card indigo white-text">
                      <div class="card-body pb-0">
                        <i class="fas fa-umbrella fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                          <p class="mb-0 h5">5&deg;</p>
                          <p class="mb-0 hour">7:00 AM</p>
                        </div>
                      </div>
                      <hr class="hr-light">
                      <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">Anchorage</h6>
                        <p class="mb-0">Heavy rain</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Grid row -->


              </div>
          </div>

              <!-- Bottom Table UI -->

      </section>
      <!-- Section: Intro -->


    </div>
    <div class="modal fade bd-example-modal-xl" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
         aria-hidden="true" >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body table-responsive" style="height: 400px">
            <table class="table" >
              <thead class="black white-text">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Phim</th>
                <th scope="col">Số Vé
                <th scope="col">Doanh Thu</th>
              </tr>
              </thead>
              <tbody id="dataH">
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- Main layout -->
  <th:block layout:fragment="optional">
    <script>
      $(document).ready(function () {
        $('body').ready(loadHistory());
        $('body').ready(countSlPhimTheoThang());
        $('body').ready(countVeTheoThang());
        $('body').ready(countDoanhThuTheoThang());
        var listH = [];
        function loadHistory() {
          $.ajax({
            url: '/api/dashboards/getve',
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {
              listH = data;
            },
            complete: function () {
              fillHistory();
            },
            error: function () {
              toastr.error('tải thất bại', '', {positionClass: 'md-toast-top-right'});
            }
          })
        };

        function fillHistory() {
          var content ='';
          for(var i = 0;i<listH.length;i++){
            content +='<tr>\n' +
                    '<th scope="row">'+(i+1)+'</th>\n' +
                    '<td>'+listH[i].tenphim+'</td>\n' +
                    '<td>'+listH[i].soluongve+'</td>\n' +
                    '<td>'+listH[i].tongtien+'</td>\n' +
                    '</tr>';
          }
          $('#dataH').html(content);
        }

        function countSlPhimTheoThang() {
          $.ajax({
            url: '/api/dashboards/countSlPhimTheoThang',
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json',
            processData: false,
            success: function (data) {
              $('#countSlPhimTheoThang').text(data);
            },
            complete: function () {

            },
            error: function () {
              toastr.error('không load được dữ liệu tong cong từ máy chủ', '', {positionClass: 'md-toast-top-right'});
            }
          });
        };

        function countVeTheoThang() {
          $.ajax({
            url: '/api/dashboards/countVeTheoThang',
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json',
            processData: false,
            success: function (data) {
              $('#countVeTheoThang').text(data);
            },
            complete: function () {

            },
            error: function () {
              toastr.error('không load được dữ liệu tong cong từ máy chủ', '', {positionClass: 'md-toast-top-right'});
            }
          });
        };

        function countDoanhThuTheoThang() {
          $.ajax({
            url: '/api/dashboards/countDoanhThuTheoThang',
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json',
            processData: false,
            success: function (data) {
              $('#countDoanhThuTheoThang').text(data);
            },
            complete: function () {

            },
            error: function () {
              toastr.error('không load được dữ liệu tong cong từ máy chủ', '', {positionClass: 'md-toast-top-right'});
            }
          });
        };

      });
    </script>
  </th:block>
</body>

</html>