<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
 <title>Sự kiện</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

    

      <!-- Section: Inputs -->
      <section >
        <div>
        <div class="card card-cascade narrower ">
          <!-- Card image -->
          <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
            <h3 class="card-header-title">Cập nhật Sự kiện</h3>  
          </div>
          <!-- /Card image -->
          <!-- Section heading -->
          <div class="card-body ">
            <form th:object="${sukien}" th:action="@{/admin/event/edit}" action="#" enctype="multipart/form-data" method="post">
              <div th:switch="${messages}">
                <p th:case="'thanhcong'" class="alert alert-success" role="alert">Cập nhật thành công!</p>
              </div>
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
           <div class="col-md-3 mb-4">
                <div class="file-field">
                  <div class="z-depth-1-half mb-4">
                    <img id="blah" th:src="@{'/getImage/'+ ${sukien.hinhanh}}"  class="img-fluid"  alt="Chưa có ảnh" style="height: 153px; width: 230px;"/>
                    <input type="hidden" th:field="*{hinhanh}" id="form36" class="form-control">
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                      <span>Choose file</span>
                      <input type="file" id="imgInp" name="images">
                    </div>
                  </div>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9 mb-4">
              
              <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 ">
              <div class="md-form md-outline">
                <i class="fas fa-key prefix"></i>
                <input  type="text" th:field="*{id}" id="form31" class="form-control" readonly>
                <label for="form31" class="active">ID</label>
                <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 ">
              <div class="md-form md-outline">
                <i class="fas fa-star prefix"></i>
                <input type="text" th:field="*{ten}" id="form31" class="form-control">
                <label for="form31" class="active">Tên Sự kiện</label>
                <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 ">
              <div class="md-form md-outline">
                <i class="fas fa-money-bill prefix"></i>
                <input  type="text" th:field="*{giam}" id="form31" class="form-control">
                <label for="form31" class="active">Giảm Giá</label>
                <p th:if="${#fields.hasErrors('giam')}" th:errors="*{giam}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form md-outline">
                <i class="fas fa-clipboard prefix"></i>
                <textarea type="textarea" th:field="*{mota}" id="form31" class="form-control"></textarea>
                <label for="form31" class="active">Mô tả</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-day prefix"></i>
                <input type="datetime-local" th:field="*{ngaybatdau}" id="form31" class="form-control">
                <label for="form31" class="active">Ngày Bắt đầu</label>
                <p th:if="${#fields.hasErrors('ngaybatdau')}" th:errors="*{ngaybatdau}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-day prefix"></i>
                <input  type="datetime-local" th:field="*{ngayketthuc}" id="form31" class="form-control">
                <label for="form31" class="active">Ngày Kết thúc</label>
                <p th:if="${#fields.hasErrors('ngayketthuc')}" th:errors="*{ngayketthuc}" class="text-danger text-center"></p>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

              <!-- Name -->
              <select  th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                <option th:value="'0'" th:text="Hiện" ></option>
                <option th:value="'1'" th:text="Ẩn"></option>
              </select><label class="mdb-main-label active">Trạng thái</label>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-user-plus prefix"></i>
                <input type="text" th:field="*{taikhoan.username}" id="form31" class="form-control" readonly>
                <label for="form31" class="active">Người Tạo</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-plus prefix"></i>
                <input type="date" id="form31" class="form-control" readonly>
                <label for="form31" class="active">Ngày Tạo</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-user-edit prefix"></i>
                <input type="text" id="form31" class="form-control" readonly>
                <label for="form31" class="active">Người Sửa</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-alt prefix"></i>
                <input type="date" id="form31" class="form-control" readonly>
                <label for="form31" class="active">Ngày Sửa</label>
              </div>

            </div>
            <!-- Grid column -->



          </div>
          <!-- Grid row -->
          <hr/>
           <!-- Grid row -->
           <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 center">

              <button type="submit" class="btn blue-gradient btn-rounded float-right " >Cập Nhật</button>

            </div>
            <!-- Grid column -->

          </div>
            </form>
          <!-- Grid row -->
          </div>
        </div>
      </div>
      </section>
      <!-- Section: Inputs -->


    </div>
  </main>
  <!-- Main layout -->
  <th:block layout:fragment="optional">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
      }

      $('#imgInp').change(function() {
        readURL(this);

      });
    </script>
  </th:block>
</body>

</html>
