<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
  <title>Giới thiệu</title>
</head>

<body th:style="'background-image:url(' + @{/img/neon-cinema-logos.jpg} + ');background-repeat: repeat; background-size: contain; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
  <div class="container pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn rgba-stylish-strong" data-wow-delay="0.3s" th:style="'background-image:url(' + @{/img/frame.png} + ');background-repeat: no-repeat;  background-size: 100% 100%;'">
      <h2 class="text-center amber-text font-weight-bold my-3 pt-3 h1">Bee cinema team</h2>

      <!-- Section description -->
      <p class="text-center mb-5 w-responsive mx-auto white-text">Bee Cinema Team được thành lập bởi năm thành viên. Mỗi thành viên có những tính cách riêng được gắn kết với nhau bằng niềm đam mê. Chúng tôi bù trừ cho nhau để lập nên một hệ thống rạp chiếu phim nhằm mang lại những giây phút trải nghiệm thư giãn nhất cho các bạn!</p>

      <!-- Grid row -->
      <div class="row mb-lg-4 text-center text-md-left">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img th:src="@{/img/avt/thaykhoa.jpg}" style="object-fit: cover;  object-position: center;  width: 100%;  height: 240px;" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4 amber-text"><strong>Nguyễn Đỗ Anh Khoa</strong></h4>
            <h6 class="font-weight-bold white-text mb-4" th:text="#{bonnam}"></h6>
            <p class="white-text">Thầy đã tư vấn và định hướng cho team những nghiệp vụ cần thiết. Đồng thời, thầy luôn hỗ trợ và giải đáp thắc mắc cho team khi dự án gặp vấn đề.</p>


          </div>

        </div>

        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img th:src="@{/img/avt/Nhan.jpg}" style="object-fit: cover;  object-position: center;  width: 100%;  height: 240px;" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4 amber-text"><strong>Phạm Thành Nhân</strong></h4>
            <h6 class="font-weight-bold white-text mb-4" th:text="#{bonsau}"></h6>
            <p class="white-text">Giữ vai trò là trưởng nhóm. Nhân đã hoàn thành layout Employee, đăng nhập, Spring Security, đặt vé, xác nhận vé, lịch sử vé tại trang Employee và trang Client.</p>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <div class="row mb-lg-4 text-center text-md-left">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">

              <img th:src="@{/img/avt/huu.jpg}" style="object-fit: cover;  object-position: center;  width: 100%;  height: 240px;" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4 amber-text"><strong>Nguyễn Tín Hữu</strong></h4>
            <h6 class="font-weight-bold white-text mb-4" th:text="#{bonbay}"></h6>
            <p class="white-text">Là thành viên của team. Hữu đã làm giao diện client, chức năng quản lý của bảng phòng, ghế, loại ghế, dãy ghế, hiển thi phim, sự kiện, liên hệ trang client và deploy trang web.
            </p>


          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img th:src="@{/img/avt/Chau.jpg}" style="object-fit: cover;  object-position: center;  width: 100%;  height: 240px;" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4 amber-text"><strong>Nguyễn Đình Châu</strong></h4>
            <h6 class="font-weight-bold white-text mb-4" th:text="#{bonbay}"></h6>
            <p class="white-text">Với vai trò là thành viên của team. Châu đã đảm nhiệm giao diện Admin, chức năng quản lý của bảng suất chiếu và khung giờ, phân trang tìm kiếm trang admin, cập nhật thông tin trang admin và chức năng đăng ký trang client.
            </p>


          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-4 text-center pb-4 text-md-left">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img th:src="@{/img/avt/ngan.jpg}" style="object-fit: cover;  object-position: center;  width: 100%;  height: 240px;" class="z-depth-1" alt="Fourth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4 amber-text"><strong>Đặng Thị Kim Ngân</strong></h4>
            <h6 class="font-weight-bold white-text mb-4" th:text="#{bonbay}"></h6>
            <p class="white-text"> Ngân đã làm giao diện employee, chức năng quản của bảng loại phim, độ tuổi, ngôn ngữ, đa ngôn ngữ trang admin, định dạng dữ liệu table trang admin và thông báo trang admin.
            </p>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">
          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img th:src="@{/img/avt/HoangAnh.jpg}" style="object-fit: cover;  object-position: center;  width: 100%;  height: 240px;" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4 amber-text"><strong>Phạm Nguyễn Hoàng Anh</strong></h4>
            <h6 class="font-weight-bold white-text mb-4" th:text="#{bonbay}"></h6>
            <p class="white-text">Hoàng anh là thành viên cuối của team. Anh đã hoàn thành giao diện admin, chức năng quản lý của bảng tài khoản, phim, sự kiện; cập nhật thông tin trang employee, phân trang tìm kiếm trang admin, đa ngôn ngữ và quên mật khẩu trang client.
            </p>


          </div>

        </div>
        <!-- Grid column -->

      </div>

      <!-- Grid row -->

    </section>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>