<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
    <title>Đổi mật khẩu</title>
</head>

<body
      th:style="'background-image:url(' + @{/img/bg-neon-movie.jpg} + ');;background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0; margin-top: 10vh;">
    <!--  <div class="container-fluid pt-5 mt-5">-->

    <!--    &lt;!&ndash; Section: Blog v.2 &ndash;&gt;-->
    <!--    <section class="wow fadeIn" data-wow-delay="0.3s">-->

    <!--      &lt;!&ndash; Grid row &ndash;&gt;-->
    <!--      <div class="row">-->

    <!--        <div class="col-12">-->
    <!--          <div class="d-flex align-items-center justify-content-center"  style="height: 51vh">-->
    <!--            &lt;!&ndash;Card &ndash;&gt;-->
    <!--            <div class="card rgba-black-light white-text rounded h-100 w-100">-->
    <!--              &lt;!&ndash;Card content &ndash;&gt;-->
    <!--              <div class="card-body d-flex align-items-center justify-content-center">-->
    <!--                <div class="d-flex align-items-center justify-content-center rgba-black-strong h-100 w-50">-->
    <!--                  &lt;!&ndash; Login form &ndash;&gt;-->

    <!--                  &lt;!&ndash; Login form &ndash;&gt;-->
    <!--                </div>-->


    <!--              </div>-->

    <!--            </div>-->
    <!--            &lt;!&ndash;Card &ndash;&gt;-->
    <!--          </div>-->

    <!--        </div>-->

    <!--      </div>-->
    <!--      &lt;!&ndash; Grid row &ndash;&gt;-->

    <!--    </section>-->
    <!--    &lt;!&ndash; Section: Blog v.2 &ndash;&gt;-->

    <!--  </div>-->


    <div class="container my-5 px-0 z-depth-1">

        <!--Section: Content-->
        <section class="p-5 my-md-5 text-center">

            <div class="my-5 mx-md-5">

                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <!-- Material form login -->
                        <div class="card rgba-white-strong">

                            <!--Card content-->
                            <div class="card-body text-left " style="background-color: bisque;">

                                <!-- Form -->
                                <form  th:action="@{/client/change-pass}" method="POST">
                                    <img src="/img/logo80x160noBG.png" alt="">
                                    <p class="h3 font-weight-bold text-center deep-purple-text rgba-white-strong rounded border-bottom border-top border-danger p-2" style="font-family: 'Segoe UI';" th:text="#{mot8}">ĐỔI MẬT KHẨU</p>
                                    <div th:switch="${messages}">
                                        <p th:case="'thanhcong'" class="alert alert-success" role="alert">Đổi mật khẩu thành công!</p>
                                        <p th:case="'saimatkhau'" class="alert alert-danger" role="alert">Mật khẩu hiện tại không đúng!</p>
                                        <p th:case="'matkhaukhongkhop'" class="alert alert-danger" role="alert">Mật khẩu mới không khớp nhau!</p>
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="defaultForm-email"  class="form-control" name="password" required>
                                        <label for="defaultForm-email"th:text="#{mot9}">Mật khẩu hiện tại</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="defaultForm-pass" class="form-control" name="newpassword" required>
                                        <label for="defaultForm-pass" th:text="#{mot10}">Mật khẩu mới</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="defaultForm-pass2" class="form-control" name="confirmnewpassword" required>
                                        <label for="defaultForm-pass2" th:text="#{mot11}">Nhập lại mật khẩu mới</label>
                                    </div>

                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn white-text font-weight-bold deep-purple accent-4" th:text="#{mot12}">LƯU THAY ĐỔI</button>
                                    </div>
<!--                                    <div class="offset-xl-1">-->

<!--                                    </div>-->
<!--                                    <div style="font-size: small; text-align: center">-->
<!--                                        <a th:href="@{/forgot-pass}" class="blue-text" th:text="#{sauba}"></a>-->
<!--                                    </div>-->
                                </form>
                                <!-- Form -->

                            </div>

                        </div>
                        <!-- Material form login -->
                    </div>
                </div>

            </div>

        </section>
        <!--Section: Content-->


    </div>

</main>

</body>

</html>