<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
    <title>Quên mật khẩu</title>
</head>

<body th:attr="onload=${message}"
      th:style="'background-image:url(' + @{/img/images/bkg.jpg} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
    <div class="container-fluid pt-5 mt-5">

        <!-- Section: Blog v.2 -->
        <section class="wow fadeIn" data-wow-delay="0.3s">

            <!-- Grid row -->
            <div class="row">

                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-center"  style="height: 51vh">
                        <!--Card -->
                        <div class="card rgba-black-light white-text rounded h-100 w-100">
                            <!--Card content -->
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-center rgba-black-strong h-100 w-50">
                                    <!-- Login form -->
                                    <form th:action="@{/forgot-pass}" method="post">
                                        <div th:if="${error != null}">
                                            <p class="text-danger">[[${error}]]</p>
                                        </div>
                                        <div th:if="${message != null}">
                                            <p class="text-warning">[[${message}]]</p>
                                        </div>
                                        <p class="login-box-msg font-weight-bold">Bạn quên mật khẩu của mình? Tại đây bạn có thể dễ dàng lấy lại mật khẩu mới.</p>

                                        <div class="md-form">
                                            <i class="fas fa-envelope prefix"></i>
                                            <input type="email" id="defaultForm-email" class="form-control white-text" name="email" required>
                                            <label for="defaultForm-email">Email</label>
                                        </div>

                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-default">Gửi</button>
                                        </div>
<!--                                        <div style="font-size: small; text-align: center">-->
<!--                                            <a href="" class="blue-text">Bạn muốn tìm lại mật khẩu?</a>-->
<!--                                        </div>-->
                                    </form>
                                    <!-- Login form -->
                                </div>


                            </div>

                        </div>
                        <!--Card -->
                    </div>

                </div>

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Blog v.2 -->

    </div>
</main>

</body>

</html>