<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
  <title>Sign in</title>
</head>

<body>

<main layout:fragment="content" style="padding: 0;">
  <div class="container-fluid pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn mb-3" data-wow-delay="0.3s">
      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" th:src="@{/img/images/NowShowing.png}"  style="object-fit: cover;  object-position: center;  width: 100%;  max-height: 200px;"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-md-12 mb-4"  th:each="phim1 : ${phimDangChieu}">

              <div class="view overlay zoom">
                <img th:src="@{${'/api/employee/getResourse/'+phim1.getHinhanh()}}" style="max-height: 414px; width: 100%" class="img-fluid " alt="smaple image">
                <div class="mask rgba-black-strong py-5 text-center justify-content-center">
                  <h6 class="amber-text "><i class="fas fa-users p-1"></i><strong th:text=" ${phim1.dotuoi.ten}"> </strong></h6>
                  <h3 class="card-title white-text p-2 font-weight-bold text-uppercase" style="min-height: 160px" th:text="${phim1.ten}"></h3>
                  <a class="btn blue-gradient btn-rounded pl-4" th:href="@{${'/client/detail-film/'+phim1.id}}"><i class="fas fa-eye"></i>&nbsp Xem chi tiết</a>
                  <a href="#" data-toggle="modal"  th:attr="data-target='#filmModal'+${phim1.id}" class="btn btn-pink btn-rounded"><i class="fab fa-youtube"></i>&nbsp Xem trailer</a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- Card -->
    </section>
    <section class="my-5 wow fadeIn" data-wow-delay="0.3s">
      <!-- Grid column -->
        <!-- Card -->
        <div class="card card-cascade narrower">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header danger-color">
            <h2 class="card-header-title font-weight-bold m-0">PHIM SẮP CHIẾU</h2>
          </div>
          <!-- Card image -->

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-md-12 mb-4"  th:each="phim1 : ${phimSapchieu}">

                <div class="view overlay zoom">
                  <img th:src="@{${'/api/employee/getResourse/'+phim1.getHinhanh()}}" style="max-height: 414px; width: 100%" class="img-fluid " alt="smaple image">
                  <div class="mask rgba-black-strong py-5 text-center justify-content-center">
                    <h6 class="amber-text "><i class="fas fa-users p-1"></i><strong th:text=" ${phim1.dotuoi.ten}"> </strong></h6>
                    <h3 class="card-title white-text p-2 font-weight-bold text-uppercase" style="min-height: 160px" th:text="${phim1.ten}"></h3>
                    <a class="btn blue-gradient btn-rounded pl-4" th:href="@{${'/client/detail-film/'+phim1.id}}"><i class="fas fa-eye"></i>&nbsp Xem chi tiết</a>
                    <a href="#" data-toggle="modal"  th:attr="data-target='#filmModal'+${phim1.id}" class="btn btn-pink btn-rounded"><i class="fab fa-youtube"></i>&nbsp Xem trailer</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->
      <!-- Grid column -->
    </section>
    <div class="modal fade mt-5" th:each="phim : ${phim}" th:id="'filmModal'+${phim.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                      allowfullscreen></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center flex-column flex-md-row">
            <span class="mr-4">Bản quyền thuộc Bee Cinema Group!</span>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                    data-dismiss="modal">Close</button>


          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>