<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
  <title>Sign in</title>
</head>

<body th:style="'background-image:url(' + @{/img/images/bgEmployee.gif} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
  <div class="container pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn mb-3" data-wow-delay="0.3s">

      <div class="row py-2 d-flex justify-content-center rgba-stylish-strong mx-auto" >
        <!-- Card -->
        <div class="card col-sm-12 col-md-4 p-0 m-5" th:each="phim : ${phimDangChieu}" >

          <!-- Card image -->

          <img class="card-img-top" th:src="@{'/api/employee/getResourse/'+${phim.hinhanh}}" style="max-height: 400px"
               alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><strong th:text="${phim.ten}"> </strong></h4>
            <!-- Text -->
            <p class="card-text" th:text="${phim.dotuoi.ten}">
            </p>
            <div class="d-flex flex-wrap">
            <a th:href="@{${'/client/detail-film/'+phim.id}}" class="btn btn-pink btn-rounded">Detail</a>
            <a th:href="@{${'/client/detail-film/'+phim.id}}" class="btn btn-pink btn-rounded">trailer</a></div>
          </div>

        </div>
        <!-- Card -->

      </div>

    </section>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>