<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout}">

<head>
  <title>Sign in</title>
</head>

<body th:style="'background-image:url(' + @{/img/images/bgEmployee.gif} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
  <div class="container pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn" data-wow-delay="0.3s">

      <div class="row py-2 d-flex justify-content-center rgba-stylish-strong mx-auto" >
        <!-- Card -->
        <div class="card col-sm-12 col-md-3 p-0 m-4" th:each="suKien : ${suKien}" >

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
               alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><strong th:text="${suKien.ten}"> </strong></h4>
            <!-- Text -->
            <p class="card-text" th:text="${suKien.mota}">
            </p>
            <a href="#" class="btn btn-pink btn-rounded">Đặt vé</a>
          </div>

        </div>
        <!-- Card -->

      </div>


    </section>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>