<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
  <title>Sign in</title>
</head>

<body th:style="'background-image:url(' + @{/img/images/bgEmployee.gif} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
  <div class="container-fluid pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn mb-3" data-wow-delay="0.3s">
      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" th:src="@{/img/images/BeeEvents.png}"  style="object-fit: cover;  object-position: center;  width: 100%;  max-height: 200px;"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-md-6" th:each="suKien : ${suKien}">
              <div class="view overlay zoom">
                <img th:src="@{${'/api/employee/getResourse/'+suKien.getHinhanh()}}" style="height: 350px; width: 100%" class="img-fluid " alt="smaple image">
                <div class="mask rgba-black-strong py-5 text-center justify-content-center">

                  <h3 class="card-title white-text  p-3 font-weight-bold text-uppercase" style="min-height: 160px" th:text="${suKien.ten}"></h3>
                  <a href="#" data-toggle="modal"  th:attr="data-target='#customerModel'+${suKien.id}"  class="btn btn-pink btn-rounded" th:text="#{basau}"></i>&nbsp </a>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Card -->
    </section>
    <div class="modal fade" th:each="suKien : ${suKien}" th:id="'customerModel'+${suKien.id}" tabindex="1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
        <!-- Content -->
        <div class="modal-content">
          <div class="card card-cascade">
              <!-- Card image -->
              <div class="view view-cascade gradient-card-header blue-gradient">
                <h2 class="card-header-title font-weight-bold amber-text" th:text="${suKien.ten}">Event Name</h2>
              <div class="d-flex flex-wrap justify-content-center"> <i class="fas fa-calendar-alt fa-lg"></i> &nbsp <p class="p-0" th:text="'Ngày Kết Thúc: '+${#temporals.format(suKien.ngayketthuc, 'dd-MM-yyyy')}"><i class="fas fa-calendar"></i></p>
              </div>
              </div>
              <!-- Card image -->

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <h6 class="blue-grey-text  pb-2" th:text="${suKien.mota}">
                </h6>
                <!-- Twitter -->
                <div class="text-right mt-1-half">
                  <button class="btn btn-info mb-1" data-dismiss="modal">Close<i class="fas fa-times ml-2"></i></button>
                </div>
              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->
        </div>
        <!-- Content -->
      </div>
    </div>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>