<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
  <title>Sign in</title>
</head>

<body th:style="'background-image:url(' + @{/img/images/bgEmployee.gif} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
  <div class="container pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn" data-wow-delay="0.3s">

      <div class="row py-2 d-flex justify-content-center rgba-stylish-strong mx-auto" >
        <!-- Card -->
        <div class="card col-sm-12 col-md-3 p-0 m-4" th:each="suKien : ${suKien}" >

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
               alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title" style="min-height: 85px"><strong th:text="${suKien.ten}"> </strong></h4>
            <!-- Text -->
            </p>
            <a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" th:attr="data-target='#customerModel'+${suKien.id}" >Xem chi tiết</a>
          </div>

        </div>
        <!-- Card -->
      </div>


    </section>
    <div class="modal fade" th:each="suKien : ${suKien}" th:id="'customerModel'+${suKien.id}" tabindex="1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
        <!-- Content -->
        <div class="modal-content">
          <div class="card card-cascade">
              <!-- Card image -->
              <div class="view view-cascade gradient-card-header blue-gradient">
                <h2 class="card-header-title font-weight-bold amber-text" th:text="${suKien.ten}">Event Name</h2>
              <div class="d-flex flex-wrap justify-content-center"> <i class="fas fa-calendar-alt fa-lg"></i> &nbsp <p class="p-0" th:text="'Ngày Kết Thúc: '+${#temporals.format(suKien.ngayketthuc, 'dd-MM-yyyy')}"><i class="fas fa-calendar"></i></p>
              </div>
              </div>
              <!-- Card image -->

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <h6 class="blue-grey-text  pb-2" th:text="${suKien.mota}">
                </h6>
                <!-- Twitter -->
                <div class="text-right mt-1-half">
                  <button class="btn btn-info mb-1" data-dismiss="modal">Close<i class="fas fa-times ml-2"></i></button>
                </div>
              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->




        </div>
        <!-- Content -->
      </div>
    </div>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>