<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
    <title>Tài khoản</title>
</head>

<body th:attr="onload=${message}"
      th:style="'background-image:url(' + @{/img/images/bkg.jpg} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
    <div class="container-fluid pt-5 mt-5">

        <!-- Section: Blog v.2 -->
        <section class="section">
            <form th:object="${taikhoan}" th:action="@{/client/profile-client}" action="#" enctype="multipart/form-data"
                  method="post">
                <div th:switch="${messages}">
                    <p th:case="'thanhcong'" class="alert alert-success" role="alert">Cập nhật thành công!</p>
                </div>
                <!-- First row -->
                <div class="row">
                    <!-- First column -->


                    <div class="col-lg-4 mb-4">

                        <!-- Card -->
                        <div class="card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header blue-gradient  ">
                                <h5 class="mb-0 font-weight-bold" th:text="#{hainam}"></h5>
                            </div>
                            <!-- Card image -->

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <div class="file-field">
                                    <div>
                                        <img id="blah"
                                             th:src="@{${(taikhoan.hinhanh.isEmpty() || taikhoan.hinhanh=='' || taikhoan.hinhanh=='null')?'/img/empty.png':('/getImage/'+taikhoan.hinhanh)}}"
                                             alt="User Photo" class="z-depth-1 mb-3 mx-auto"
                                             style="height: 100px; width: 100px;"/>
                                    </div>
                                    <!--                  <div id="blah" th:unless="${taikhoan.hinhanh}">-->
                                    <!--                    <img th:src="@{'/getImage/placeholder.jpg'}" alt="User Photo" class="z-depth-1 mb-3 mx-auto" style="height: 100px; width: 100px;" />-->
                                    <!--                  </div>-->
                                    <!--                  <div th:switch="${taikhoan.hinhanh}">-->
                                    <!--                    <p th:case="'null'"><img th:src="@{'/getImage/placeholder.jpg'}" alt="User Photo" class="z-depth-1 mb-3 mx-auto" style="height: 100px; width: 100px;" /></p>-->
                                    <!--                    <p th:case="*"><img id="blah" th:src="@{'/getImage/'+ ${taikhoan.hinhanh}}" alt="User Photo" class="z-depth-1 mb-3 mx-auto" style="height: 100px; width: 100px;" /></p>-->
                                    <!--                  </div>-->
                                    <div class="d-flex justify-content-center">
                                        <div class="btn btn-info btn-rounded btn-sm">
                                            <span th:text="#{haisau}"></span>
                                            <input type="file" id="imgInp" name="images">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- First column -->

                    <!-- Second column -->
                    <div class="col-lg-8 mb-4">

                        <!-- Card -->
                        <div class="card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header blue-gradient">
                                <h5 class="mb-0 font-weight-bold" th:text="#{haibay}"></h5>
                            </div>
                            <!-- Card image -->

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">

                                <!-- Edit Form -->

                                <!-- First row -->

                                <div class="row">

                                    <!-- First column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" th:field="*{username}" id="form32" class="form-control "
                                                   readonly>
                                            <label for="form32" th:text="#{bayhai}">ID</label>
                                        </div>
                                    </div>
                                    <!-- Second column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" th:field="*{ten}" id="form21" class="form-control">
                                            <label for="form21" th:text="#{bayba}">Họ Tên</label>
                                            <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"
                                               class="text-danger text-center"></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- First row -->

                                <!-- First row -->
                                <div class="row">
                                    <!-- First column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" th:field="*{gioitinh}" value="0"
                                                       class="form-check-input" id="materialInline1"
                                                       name="inlineMaterialRadiosExample" checked>
                                                <label class="form-check-label" for="materialInline1" th:text="#{baysau}">Nam</label>
                                            </div>

                                            <!-- Material inline 2 -->
                                            <div class="form-check form-check-inline">
                                                <input type="radio" th:field="*{gioitinh}" value="1"
                                                       class="form-check-input" id="materialInline2"
                                                       name="inlineMaterialRadiosExample">
                                                <label class="form-check-label" for="materialInline2" th:text="#{baybay}">Nữ</label>
                                            </div>
                                            <label for="materialInline2" data-error="wrong" data-success="right" th:text="#{baynam}">Giới
                                                tính:</label>
                                        </div>
                                    </div>

                                    <!-- Second column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="date" th:field="*{ngaysinh}" id="form82" class="form-control ">
                                            <label for="form82" th:text="#{baytam}">Ngày sinh</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- First row -->

                                <!-- Second row -->
                                <div class="row">

                                    <!-- First column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="email" th:field="*{email}" id="form76" class="form-control ">
                                            <label for="form76">Email</label>
                                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                               class="text-danger text-center"></p>
                                        </div>
                                    </div>
                                    <!-- Second column -->

                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" th:field="*{sodienthoai}" id="form77"
                                                   class="form-control">
                                            <label for="form77" th:text="#{baychin}">Điện thoại</label>
                                            <p th:if="${#fields.hasErrors('sodienthoai')}" th:errors="*{sodienthoai}"
                                               class="text-danger text-center"></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Second row -->

                                <!-- Second row -->
                                <div class="row">

                                    <!-- First column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <textarea type="text" th:field="*{diachi}" id="form78"
                                                      class="md-textarea form-control" rows="3"></textarea>
                                            <label for="form78" th:text="#{mot5}">Địa chỉ</label>
                                        </div>
                                    </div>
                                    <!-- Second column -->

                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <textarea type="text" th:field="*{mota}" id="form78"
                                                      class="md-textarea form-control" rows="3"></textarea>
                                            <label for="form78" th:text="#{mot6}">Mô tả</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Second row -->

                                <div class="row">
                                    <div class="col-md-12 text-center my-4">
                                        <button type="submit" class="btn blue-gradient btn-rounded" th:text="#{haitam}"></button>
                                    </div>
                                </div>
                                <!-- Fourth row -->

                                <!-- Edit Form -->

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Second column -->

                </div>
                <!-- First row -->
            </form>
        </section>
        <!-- Section: Blog v.2 -->

    </div>
</main>
<th:block layout:fragment="optional">
    <script>
$(document).ready(function () {
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $('#imgInp').change(function() {
        readURL(this);

    });
});
    </script>
</th:block>
</body>

</html>