<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout}">

<head>
  <title>Sign in</title>
</head>

<body th:style="'background-image:url(' + @{/img/images/bkg.jpg} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content" style="padding: 0;">
  <div class="container pt-5 mt-5">

    <!-- Section: Blog v.2 -->
    <section class="wow fadeIn" data-wow-delay="0.3s">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-12 col-md-12 mb-4">
          <div class="card card-cascade narrower" style="margin-top: 44px">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header peach-gradient ">
              <h3  class="card-header-title">Select Your Seat</h3>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->

            <!-- Card content -->
            <div class="card-body card-body-cascade">
              <div class="card card-ecommerce" style="background-color: pink;">

                <div class="table-responsive">
                  <table class="table">

                    <tbody>
                    <tr>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                    </tr>
                    <tr>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                    </tr>
                    <tr>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                    </tr>
                    <tr>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                    </tr>
                    <tr>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                      <td><div class="d-flex justify-content-center"><button class="btn btn-primary btn-sm"><i class="fas fa-chair"></i>g1</button></div></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn aqua-gradient">Hoàn thành</button>
              </div>
            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

          <!-- Card -->

        </div>
        <!-- Grid column -->


      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>