<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout}">

<head>
  <title>Sign in</title>
</head>

<body th:style="'background-image:url(' + @{/img/images/bkg.jpg} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">

<main layout:fragment="content">
  <div class="container-fluid">

    <!-- Section: Blog v.2 -->
    <section class="text-center my-5 wow fadeIn rgba-black-strong white-text p-5 rounded" data-wow-delay="0.3s">

      <!-- Grid row -->
      <div class="row">

        <div class="col-12">
          <!--Card -->
          <div class="card">

            <!--Card content -->
            <div class="card-body">

              <!-- Login form -->
              <form>
                <p class="h5 text-center mb-4">Sign in</p>

                <div class="md-form">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="text" id="defaultForm-email" class="form-control">
                  <label for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form">
                  <i class="fas fa-lock prefix grey-text"></i>
                  <input type="password" id="defaultForm-pass" class="form-control">
                  <label for="defaultForm-pass">Your password</label>
                </div>

                <div class="text-center mt-4">
                  <button class="btn btn-default">Login</button>
                </div>
              </form>
              <!-- Login form -->

            </div>

          </div>
          <!--Card -->
        </div>

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Blog v.2 -->

  </div>
</main>

</body>

</html>