<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
    <title>Sign in</title>
</head>
<body class="about-page" th:style="'background-image:url(' + @{/img/images/bkg.jpg} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">
<main layout:fragment="content" style="padding: 0;">
    <div class="container pt-5 mt-5">

        <!-- Section: Blog v.2 -->
        <section class="section">
            <form th:object="${taikhoan}" th:action="@{/signup}" action="#" method="post">
                <!-- First row -->
                <div class="row">

                    <!-- Second column -->
                    <div class="col-lg-12 mb-4">

                        <!-- Card -->
                        <div class="card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header blue-gradient">
                                <h5 class="mb-0 font-weight-bold">Đăng ký</h5>
                            </div>

                            <!-- Card image -->

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <div th:switch="${messages}">
                                    <p th:case="'thanhcong'" class="alert alert-success" role="alert">Đăng ký thành công!</p>
                                    <p th:case="'trungid'" class="alert alert-danger" role="alert">Tài khoản đã tồn tại</p>
                                    <p th:case="'trungemail'" class="alert alert-danger" role="alert">Email đã tồn tại</p>
                                </div>
                                <!-- Edit Form -->

                                <!-- First row -->

                                <div class="row">

                                    <!-- First column -->
                                    <div class="col-md-4">
                                        <div class="md-form mb-0">
                                            <input type="text" th:field="*{username}" id="form2" class="form-control ">
                                            <label for="form2" >Tên tài khoản</label>
                                        </div>
                                    </div>
                                    <!-- Second column -->
                                    <div class="col-md-4">
                                        <div class="md-form mb-0">
                                            <input type="text" th:field="*{ten}" id="form2" class="form-control" required pattern="^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ \\s]+$">
                                            <label for="form2" >Họ Tên</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="md-form mb-0">
                                            <input type="password" th:field="*{matkhau}" id="form82" class="form-control " required>
                                            <label for="form82" >Mật khẩu</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- First row -->

                                <!-- First row -->
                                <div class="row">

                                    <!-- First column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" th:field="*{gioitinh}" value="0" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample" required>
                                                <label class="form-check-label" for="materialInline1">Nam</label>
                                            </div>

                                            <!-- Material inline 2 -->
                                            <div class="form-check form-check-inline">
                                                <input type="radio" th:field="*{gioitinh}" value="1" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                                                <label class="form-check-label" for="materialInline2">Nữ</label>
                                            </div>
                                            <label for="materialInline2" data-error="wrong" data-success="right">Giới tính:</label>
                                        </div>
                                    </div>

                                    <!-- Second column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="date" th:field="*{ngaysinh}" id="form82" class="form-control " required>
                                            <label for="form82" >Ngày sinh</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- First row -->

                                <!-- Second row -->
                                <div class="row">

                                    <!-- First column -->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="email" th:field="*{email}" id="form76" class="form-control " required>
                                            <label for="form76">Email</label>
                                        </div>
                                    </div>
                                    <!-- Second column -->

                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" th:field="*{sodienthoai}" id="form77" class="form-control" required>
                                            <label for="form77" >Điện thoại</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Second row -->


                                <div class="row">
                                    <div class="col-md-12 text-center my-4">
                                        <button type="submit" class="btn blue-gradient btn-rounded">ĐĂNG KÝ</button>
                                    </div>
                                </div>
                                <!-- Fourth row -->

                                <!-- Edit Form -->

                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Second column -->

                </div>
                <!-- First row -->
            </form>
        </section>
        <!-- Section: Blog v.2 -->

    </div>
</main>

</body>

</html>