<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${trang}}">

<head>
    <title>Homepage</title>
    <style>
        .btn-outline-white:hover {
            background-color: #ff7979 !important;
        }
        btn{
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body>
<!-- Main layout -->
<main layout:fragment="content">
    <div class="container mt-5">
        <section>
            <div class="classic-tabs mb-5 mx-2">

                <ul class="nav tabs-danger" id="myClassicTabOrange" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab"
                           href="#profile-classic-orange"
                           role="tab" aria-controls="profile-classic-orange" aria-selected="true" ><i
                                class="fas fa-film fa-2x pb-2"
                                aria-hidden="true"></i><br th:text="#{chin}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" id="follow-tab-classic-orange" data-toggle="tab"
                           href="#follow-classic-orange"
                           role="tab" aria-controls="follow-classic-orange" aria-selected="false"><i
                                class="fas fa-film fa-2x pb-2"
                                aria-hidden="true"></i><br th:text="#{muoi}"></a>
                    </li>
                </ul>

                <div class="tab-content card" id="myClassicTabContentOrange">
                    <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel"
                         aria-labelledby="profile-tab-classic-orange">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" th:each="phim1 : ${phimDangChieu}">

                                <div class="view overlay zoom">
                                    <img th:src="@{${(phim1.getHinhanh()==''||phim1.getHinhanh()=='null')?'/img/MOBG.jpg':('/api/employee/getResourse/'+phim1.getHinhanh())}}"
                                         style="object-fit: cover;  object-position: center;  width: 100%;  height: 350px;"
                                         class="img-fluid" alt="smaple image">
                                    <div class="mask rgba-black-strong py-5 text-center justify-content-center">
                                        <h6 class="amber-text "><i class="fas fa-users p-1"></i><strong
                                                th:text=" ${phim1.dotuoi.ten}"> </strong></h6>
                                        <h3 class="card-title white-text pt-4 font-weight-bold text-uppercase"
                                            th:text="${phim1.ten}"></h3>
                                        <div class="row">

                                            <div class="col-sm p-0">
                                              <a class="btn btn-outline-white waves-effect"
                                                                          th:href="@{${'/client/detail-film/'+phim1.id}}" th:text="#{banam}"></a>
                                            </div>
                                            <div class="col-sm p-0">
                                                <a href="#" data-toggle="modal" th:attr="data-target='#filmModal'+${phim1.id}" class="btn btn-outline-white waves-effect ">Trailer</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="follow-classic-orange" role="tabpanel"
                         aria-labelledby="follow-tab-classic-orange">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" th:each="phim12 : ${phimSapchieu}">

                                <div class="view overlay zoom">
                                    <img th:src="@{${'/api/employee/getResourse/'+phim12.getHinhanh()}}"
                                         class="img-fluid"
                                         style="object-fit: cover;  object-position: center;  width: 100%;  height: 300px;"
                                         alt="smaple image">
                                    <div class="mask rgba-black-strong py-5 text-center justify-content-center">
                                        <h6 class="amber-text "><i class="fas fa-users p-1"></i><strong
                                                th:text=" ${phim12.dotuoi.ten}"> </strong></h6>
                                        <h3 class="card-title white-text pt-4 pb-3 font-weight-bold text-uppercase"
                                            th:text="${phim12.ten}"></h3>
                                        <div class="row">
                                            <div class="col-sm p-0">
                                                <a class="btn btn-outline-white waves-effect"
                                                   th:href="@{${'/client/detail-film/'+phim12.id}}" th:text="#{banam}"></a>
                                            </div>
                                            <div class="col-sm p-0">
                                                <a href="#" data-toggle="modal" th:attr="data-target='#filmModal'+${phim12.id}" class="btn btn-outline-white waves-effect ">Trailer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section>
            <h3 class="font-weight-bold pb-1" style="border-bottom: 3px solid #ff4757;" th:text="#{motbon}"></h3>
            <div class="row mb-4">
                <div class="col-lg-3 col-sm-4 col-md-6" th:each="suKien : ${suKien}">
                    <div class="view overlay zoom">
                        <img th:src="@{${'/api/employee/getResourse/'+suKien.getHinhanh()}}"
                             style="object-fit: cover;  object-position: center;  width: 100%;  height: 350px;"
                             class="img-fluid " alt="smaple image">
                        <div class="mask rgba-black-strong py-5 text-center justify-content-center">

                            <h3 class="card-title white-text  p-3 font-weight-bold text-uppercase"
                                style="min-height: 160px" th:text="${suKien.ten}"></h3>
                            <a href="#" data-toggle="modal" th:attr="data-target='#customerModel'+${suKien.id}"
                               class="btn btn-pink btn-rounded" th:text="#{basau}"></i>&nbsp </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-5">
            <h3 class="font-weight-bold pb-1" style="border-bottom: 3px solid #ff4757;">BEECINEMA</h3>
            <p th:text="#{motnam}"></p>
            <p th:text="#{motsau}"></p>
            <p th:text="#{motbay}"></p>
            <p th:text="#{mottam}"></p>
            <p></p>
        </section>
        <!-- Section: Blog v.2 -->

        <div class="modal fade mt-5" th:each="phim : ${phim}" th:id="'filmModal'+${phim.id}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                    <!--Body-->
                    <div class="modal-body mb-0 p-0">

                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe width="853" height="480" th:src="${phim.linktrailer}" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center flex-column flex-md-row">
                        <span class="mr-4">Hãy thư giãn cùng Bee Cinema nhé!</span>
                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close
                        </button>


                    </div>

                </div>
                <!--/.Content-->

            </div>
        </div>
        <div class="modal fade" th:each="suKien : ${suKien}" th:id="'customerModel'+${suKien.id}" tabindex="1"
             role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!-- Content -->
                <div class="modal-content">
                    <div class="card card-cascade">
                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">
                            <h2 class="card-header-title font-weight-bold amber-text" th:text="${suKien.ten}">Event
                                Name</h2>
                            <div class="d-flex flex-wrap justify-content-center"><i
                                    class="fas fa-calendar-alt fa-lg"></i> &nbsp <p class="p-0"
                                                                                    th:text="'Ngày Kết Thúc: '+${#temporals.format(suKien.ngayketthuc, 'dd-MM-yyyy')}">
                                <i class="fas fa-calendar"></i></p>
                            </div>
                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <h6 class="blue-grey-text  pb-2" th:text="${suKien.mota}">
                            </h6>
                            <!-- Twitter -->
                            <div class="text-right mt-1-half">
                                <button class="btn btn-info mb-1" data-dismiss="modal">Close<i
                                        class="fas fa-times ml-2"></i></button>
                            </div>
                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->


                </div>
                <!-- Content -->
            </div>
        </div>
    </div>

</main>
<!-- Main layout -->


</body>

</html>