<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout}">

<head>

    <title>Đổi mật khẩu</title>
    <style>
        .card.card-cascade .view.gradient-card-header {
            padding: 1.1rem 1rem;
        }

        .card.card-cascade .view {
            box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>

<body>


<main layout:fragment="content">
    <!-- Mega menu -->
    <div class="container-fluid">

        <!-- Section: Blog v.2 -->
        <section class="text-center">

            <div class="my-5">

                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <!-- Material form login -->
                        <div class="card rgba-white-strong">

                            <!--Card content-->
                            <div class="card-body text-left " style="background-color: bisque;">

                                <!-- Form -->
                                <form  th:action="@{/employee/change-pass}" method="POST">
                                    <img src="/img/logo80x160noBG.png" alt="">
                                    <p class="h3 font-weight-bold text-center deep-purple-text rgba-white-strong rounded border-bottom border-top border-danger p-2" style="font-family: 'Segoe UI';" th:text="#{mot8}">ĐỔI MẬT KHẨU</p>
                                    <div th:switch="${messages}">
                                        <p th:case="'thanhcong'" class="alert alert-success" role="alert">Đổi mật khẩu thành công!</p>
                                        <p th:case="'saimatkhau'" class="alert alert-danger" role="alert">Mật khẩu hiện tại không đúng!</p>
                                        <p th:case="'matkhaukhongkhop'" class="alert alert-danger" role="alert">Mật khẩu mới không khớp nhau!</p>
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="defaultForm-email"  class="form-control" name="password" required>
                                        <label for="defaultForm-email" th:text="#{mot9}">Mật khẩu hiện tại</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="defaultForm-pass" class="form-control" name="newpassword" required>
                                        <label for="defaultForm-pass" th:text="#{mot10}">Mật khẩu mới</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="defaultForm-pass2" class="form-control" name="confirmnewpassword" required>
                                        <label for="defaultForm-pass2" th:text="#{mot11}">Nhập lại mật khẩu mới</label>
                                    </div>

                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn white-text font-weight-bold deep-purple accent-4" th:text="#{mot12}">LƯU THAY ĐỔI</button>
                                    </div>
                                    <!--                                    <div class="offset-xl-1">-->

                                    <!--                                    </div>-->
                                    <!--                                    <div style="font-size: small; text-align: center">-->
                                    <!--                                        <a th:href="@{/forgot-pass}" class="blue-text" th:text="#{sauba}"></a>-->
                                    <!--                                    </div>-->
                                </form>
                                <!-- Form -->

                            </div>

                        </div>
                        <!-- Material form login -->
                    </div>
                </div>

            </div>

        </section>
        <!-- Section: Blog v.2 -->

    </div>
    <!-- Mega menu -->

</main>
</body>


</html>