<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout}">

<head>

    <title>Home</title>

</head>

<body>


<main layout:fragment="content">
    <!-- Mega menu -->
    <div class="container-fluid" style="margin: 0;padding: 0;"
         th:style="'background-image:url(' + @{/img/images/bgEmployee.gif} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;background-attachment: fixed;'">
        <div id="dataFilm" class="row pt-5 wow fadeIn" data-wow-delay="0.9s" style="min-height: 93vh;">

        </div>
    </div>
    <!-- Mega menu -->

</main>
<th:block layout:fragment="script">
    <script>
        var listFilm = [];
        function loadFilm() {
            $.ajax({
                url: '/api/employee/list-film-showing',
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json',
                processData: false,
                beforeSend: function () {
                    $('#dataFilm').html('<div id="mdb-preloader" class="flex-center">\n' +
                        '  <div class="preloader-wrapper active">\n' +
                        '    <div class="spinner-layer spinner-blue-only">\n' +
                        '      <div class="circle-clipper left">\n' +
                        '        <div class="circle"></div>\n' +
                        '      </div>\n' +
                        '      <div class="gap-patch">\n' +
                        '        <div class="circle"></div>\n' +
                        '      </div>\n' +
                        '      <div class="circle-clipper right">\n' +
                        '        <div class="circle"></div>\n' +
                        '      </div>\n' +
                        '    </div>\n' +
                        '  </div>\n' +
                        '</div>');
                },
                success: function (data) {
                    listFilm = data;
                },
                complete: function () {
                    fillFilm();
                },
                error: function () {
                    toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                }
            });
        };
        function fillFilm() {
            var content = '';
            for(var i =0;i<listFilm.length;i++){
                var film = listFilm[i];
                var pp = 'background: url(/api/employee/getResourse/'+film.hinhanh+') no-repeat center center;background-size: cover;';
                content += '<div class="col-md-12 col-lg-6 mb-3 mx-auto waves-effect">\n' +
                    '                <div class="bg-warning"\n' +
                    '                <div class="card card-image"\n' +
                    '                     style="'+pp+'">\n' +
                    '\n' +
                    '                    <!-- Content -->\n' +
                    '                    <div class="text-white d-flex align-items-center rgba-black-strong py-5 px-4">\n' +
                    '                        <div>\n' +
                    '                            <h5 class="pink-text"><i class="fas fa-film"></i> <strong>'+film.dotuoi+'</strong></h5>\n' +
                    '                            <h3 class="card-title pt-2"><strong>'+film.ten+'</strong></h3>\n' +
                    '                            <p></p>\n' +
                    '                            <a class="btn btn-danger waves-effect" href="/employee/datghe/'+film.id+'"><i class="fas fa-clone left"></i> Chọn</a>\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '\n' +
                    '                </div>\n' +'                </div>\n' +
                    '            </div>';
            }
            $('#dataFilm').html(content);
        };
        $(document).ready(function () {
            loadFilm();
        });
    </script>
</th:block>

</body>


</html>