<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout}">

<head>

    <title>Home</title>

</head>
<body>
<main layout:fragment="content">
    <!-- Mega menu -->
    <div class="container-fluid"
         th:style="'background-image:url(/api/employee/getResourse/' + ${film.get().getHinhanh()} + ');background-repeat: repeat-x; background-size: contain; background-position: center center;background-attachment: fixed;'">
        <div class="row mx-1 pt-5 wow fadeIn" data-wow-delay="0.3s" style="min-height: 93vh;">
            <div class="card mb-4 col-12 rgba-black-strong white-text">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <label class="h4 rgba-black-light p-1 rounded">Suất chiếu: </label>
                                <div class="btn-group d-flex justify-content-center" data-toggle="buttons">
                                    <label th:if="${film.get().suatchieus.isEmpty()}"
                                           class="d-flex justify-content-center btn btn-danger">Không có suất chiếu
                                        nào</label>
                                    <option class="btn btn-danger mx-1 rdoSuatChieu" th:each="sc : ${film.get().suatchieus}" th:value="${sc.getId()}">
                                        <input type="radio" name="options" autocomplete="off">
                                        <div th:text="${sc.phong.getTen()}"></div> |
                                        <div th:text="${sc.khunggio.getBatdau() +' - '+sc.khunggio.getKetthuc()}"></div>

                                    </option>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="h4 rgba-black-light p-1 rounded">Phòng: </label>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr class="text-center white-text">
                                            <th class="h4" colspan="100%"><i class="fas fa-desktop"></i> MÀN HÌNH <i
                                                    class="fas fa-desktop"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody id="dataGhe">
                                        <tr class="text-center">
                                            <td class="white-text">Dãy A</td>
                                            <td><a class="btn-floating btn-yt"><i class="fas fa-chair"></i></a></td>
                                            <td class="white-text">Dãy A</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mega menu -->

</main>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {

            var listDayGhe = [];
            var idSuatChieu = 1;

            $(document).on('click','option.ActionGhe',function () {
                $.ajax({
                    url : "/api/employee/setghefocus",
                    type : "POST",
                    cache : false,
                    async : true,
                    contentType : "application/json; charset=UTF-8",
                    data : JSON.stringify({
                        "idsuatchieu" : parseInt(idSuatChieu),
                        "idghe" : parseInt($(this).val()),
                        "stt" : 1
                    }),
                    datatype : "json",
                    success : function(data) {

                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status + " : " + errorThrown);
                    }
                });
                loadGhe();
            });

            $(document).on('click','option.rdoSuatChieu',function () {
                idSuatChieu = $(this).val();
                loadGhe();
            });
            setInterval(function () {
                if(idSuatChieu!=''){
                    loadGhe();
                };
            },1000);
            function loadGhe() {
                $.ajax({
                    url: '/api/employee/getGhe/'+idSuatChieu,
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {
                        listDayGhe = data;
                    },
                    complete: function () {
                        fillGhe();
                    },
                    error: function () {
                        toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });
            };

            function fillGhe() {
                var content = '';
                for (var i = 0; i < listDayGhe.length; i++) {


                    content += '<tr class="text-center">\n' +
                        '<td class="white-text">Dãy '+listDayGhe[i].ten+'</td>\n';
                        var listGhe = listDayGhe[i].gheResponses;
                    for(var ii = 0;ii<listGhe.length;ii++){
                        content += '<td><option value="'+listGhe[ii].id+'" class="ActionGhe btn '+(listGhe[ii].trangthai==0?'btn-info':'btn-danger')+' text-center"><i class="fas fa-chair"></i> '+listGhe[ii].tenDay+listGhe[ii].col+'</option></td>';
                    }

                    content += '<td class="white-text">Dãy '+listDayGhe[i].ten+'</td>\n' +
                        '</tr>';
                }
                ;

                $('#dataGhe').html(content);
            };

        })
    </script>
</th:block>
</body>
</html>