<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout}">

<head>

    <title>Home</title>

</head>
<body>
<main layout:fragment="content">
    <!-- Mega menu -->
    <div class="container-fluid"
         th:style="'background-image:url(/api/employee/getResourse/' + ${film.get().getHinhanh()} + ');background-repeat: repeat-x; background-size: contain; background-position: center center;background-attachment: fixed;'">
        <div class="row mx-1 pt-5 wow fadeIn" data-wow-delay="0.3s" style="min-height: 93vh;">
            <div class="card mb-4 col-12 rgba-black-strong white-text">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <label class="h4 rgba-black-light p-1 rounded">Suất chiếu: </label>
                                <div class="btn-group d-flex justify-content-center" data-toggle="buttons">
                                    <label th:if="${film.get().suatchieus.isEmpty()}"
                                           class="d-flex justify-content-center btn btn-danger">Không có suất chiếu
                                        nào</label>
                                    <option class="btn btn-danger mx-1 rdoSuatChieu"
                                            th:each="sc : ${film.get().suatchieus}" th:value="${sc.getId()}">
                                        <input type="radio" name="options" autocomplete="off">
                                        <div th:text="${sc.phong.getTen()}"></div>
                                        |
                                        <div th:text="${sc.khunggio.getBatdau() +' - '+sc.khunggio.getKetthuc()}"></div>

                                    </option>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="h4 rgba-black-light p-1 rounded">Phòng: </label>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr class="text-center white-text">
                                            <th class="h4" colspan="100%"><i class="fas fa-desktop"></i> MÀN HÌNH <i
                                                    class="fas fa-desktop"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody id="dataGhe">
                                        <tr class="text-center">
                                            <td class="white-text">Dãy A</td>
                                            <td><a class="btn-floating btn-yt"><i class="fas fa-chair"></i></a></td>
                                            <td class="white-text">Dãy A</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button id="btnthanhtoan" class="float-right btn purple-gradient" data-toggle="modal"
                                        data-target="#modalContactForm">Thanh toán
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Thanh toán</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="card card-image mb-5"
                             th:style="'background-image:url(/api/employee/getResourse/' + ${film.get().getHinhanh()} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;'">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong py-5 px-4">
                                <div>
                                    <h5 class="yellow-text"><i class="fas fa-chart-pie"></i> <span id="timeSuatChieu"> 12:00 - 13:00 </span></h5>
                                    <h3 class="card-title pt-2"><strong id="thanhtoanTenPhim"></strong></h3>
                                    <div class="row" id="ghechoosen">
                                    </div>
                                    <h3 class="font-weight-bold text-danger yellow rounded"><span>Tổng cộng: </span><span id="tongcong">237298743</span><span> VND</span></h3>
                                </div>
                            </div>

                        </div>

                        <select class="mdb-select mb-5" id="thanhtoanSukien">
                            <option value="" disabled>Choose option</option>
                            <option value="noevent" selected>Sự kiện</option>
                            <option th:each="sukien : ${@sukienServiceimpl.getAllSuKienActive()}" th:value="${sukien.id}" th:text="${sukien.ten}"></option>
                        </select>


                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mega menu -->

</main>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {

            $(window).on('beforeunload',function () {
                $.ajax({
                    url:'/api/employee/close',
                    type:'GET'
                });
            })

            var listDayGhe = [];
            var idSuatChieu = null;
            var idSukien = 'noevent';

            $(document).on('click', 'option.ActionGhe', function () {
                $.ajax({
                    url: "/api/employee/setghefocus",
                    type: "POST",
                    cache: false,
                    async: true,
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify({
                        "idsuatchieu": parseInt(idSuatChieu),
                        "idghe": parseInt($(this).val()),
                        "stt": 2
                    }),
                    datatype: "json",
                    success: function (data) {

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status + " : " + errorThrown);
                    }
                });
                loadGhe();
            });

            $(document).on('click', 'option.rdoSuatChieu', function () {
                $.ajax({
                    url:'/api/employee/clearsession',
                    type:'GET'
                });
                idSuatChieu = $(this).val();
                loadGhe();
            });

            setInterval(function () {
                if (idSuatChieu != '') {
                    loadGhe();
                }
                ;
            }, 1999);

            function loadGhe() {
                if (idSuatChieu != null) {
                    $.ajax({
                        url: '/api/employee/getGhe/' + idSuatChieu,
                        type: 'GET',
                        dataType: 'JSON',
                        contentType: 'application/json',
                        processData: false,
                        success: function (data) {
                            listDayGhe = data;
                        },
                        complete: function () {
                            fillGhe();
                        },
                        error: function () {
                            toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                        }
                    });
                }
            };

            function fillGhe() {
                var content = '';
                for (var i = 0; i < listDayGhe.length; i++) {


                    content += '<tr class="text-center">\n' +
                        '<td class="white-text">Dãy ' + listDayGhe[i].ten + '</td>\n';
                    var listGhe = listDayGhe[i].gheResponses;
                    for (var ii = 0; ii < listGhe.length; ii++) {
                        content += '<td><option ' + ((listGhe[ii].trangthai == 0 || listGhe[ii].trangthai == 2) ? '' : 'disabled') + ' value="' + listGhe[ii].id + '" class="ActionGhe btn ' + (listGhe[ii].trangthai == 0 ? 'btn-info' : listGhe[ii].trangthai == 2 ? 'btn-warning' : listGhe[ii].trangthai == 3 ? 'btn-warning' : listGhe[ii].trangthai == 1 ? 'btn-danger' : 'btn-light') + ' text-center"><i class="fas fa-chair"></i> ' + listGhe[ii].tenDay + listGhe[ii].col + '</option></td>';
                    }

                    content += '<td class="white-text">Dãy ' + listDayGhe[i].ten + '</td>\n' +
                        '</tr>';
                }
                ;

                $('#dataGhe').html(content);
            };

            $('#btnthanhtoan').click(function () {
                $('#thanhtoanSukien').val('noevent');
                idSukien = 'noevent';
                var suatchieu = {};
                var gheChoosen = [];
                $.ajax({
                    url: '/api/employee/getSuatChieu/' + idSuatChieu,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {
                        suatchieu = data;
                    },
                    complete: function () {
                        $('#timeSuatChieu').text(suatchieu.batdau +' - '+suatchieu.ketthuc);
                        $('#thanhtoanTenPhim').text(suatchieu.idphim)
                    },
                    error: function () {
                        toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });

                $.ajax({
                    url: '/api/employee/getGheChoosen',
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (result) {
                        gheChoosen = result;
                    },
                    complete: function () {
                        var content = '';
                        for(var ii = 0;ii<gheChoosen.length;ii++){
                            content += '<div class="col-6 mx-auto p-1">\n' +
                                '<div class="btn btn-warning"><i class="fas fa-chair text-center"></i> '+(gheChoosen[ii].gheResponse.tenDay + gheChoosen[ii].gheResponse.col)+'</div>\n' +
                                '</div>';
                        }
                        $('#ghechoosen').html(content);
                    },
                    error: function () {
                        toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });
                loadTongCong(idSukien);
            });



            function loadTongCong(idsukien) {
                $.ajax({
                    url: '/api/employee/getTotal?idsukien=' + idsukien,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {
                        $('#tongcong').text(data);
                     },
                    complete: function () {

                       },
                    error: function () {
                        toastr.error('không load được dữ liệu tong cong từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });
            };

            $('#thanhtoanSukien').change(function () {
                idSukien = $(this).val();
                console.log(idSukien);
                loadTongCong(idSukien);
            });
        })
    </script>
</th:block>
</body>
</html>