<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout}">

<head>

    <title>Home</title>

</head>
<body>
<main layout:fragment="content">
    <!-- Mega menu -->
    <div class="container-fluid"
         th:style="'background-image:url(/api/employee/getResourse/' + ${film.get().getHinhanh()} + ');background-repeat: repeat-x; background-size: contain; background-position: center center;background-attachment: fixed;'">
        <div class="row mx-1 pt-5 wow fadeIn" data-wow-delay="0.3s" style="min-height: 93vh;">
            <div class="card mb-4 col-12 rgba-black-strong white-text">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <label class="h4 rgba-black-light p-1 rounded" th:text="#{bontam}"> </label>
                                <div class="btn-group d-flex justify-content-center" data-toggle="buttons">
                                    <label th:if="${suatchieu.isEmpty()}"
                                           class="d-flex justify-content-center btn btn-danger" th:text="#{chinbay}"></label>
                                    <option class="btn btn-danger mx-1 rdoSuatChieu"
                                            th:each="sc : ${suatchieu}" th:value="${sc.getId()}">
                                        <input type="radio" name="options" autocomplete="off">
                                        <div th:text="${sc.phong.getTen()}"></div>
                                        |
                                        <div th:text="${sc.khunggio.getBatdau() +' - '+sc.khunggio.getKetthuc()}"></div>

                                    </option>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="h4 rgba-black-light p-1 rounded" th:text="#{bonchin}"> </label>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr class="text-center white-text">
                                            <th class="h4" colspan="100%" th:text="#{nammot}"><i class="fas fa-desktop"></i>  <i
                                                    class="fas fa-desktop"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody id="dataGhe">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 rgba-white-strong p-2 d-flex justify-content-center rounded">
                                <img th:src="@{/img/giaithich.png}" alt="" style="width: 100%;">
                            </div>
                            <div class="col-2">
                                <button id="btnthanhtoan" class="float-right btn purple-gradient" data-toggle="modal"
                                        data-target="#modalContactForm" th:text="#{namba}">
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold" th:text="#{namba}"> </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="card card-image mb-5"
                             th:style="'background-image:url(/api/employee/getResourse/' + ${film.get().getHinhanh()} + ');background-repeat: no-repeat; background-size: cover; background-position: center center;'">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong py-5 px-4">
                                <div>
                                    <h5 class="yellow-text"><i class="fas fa-chart-pie"></i> <span id="timeSuatChieu"> 12:00 - 13:00 </span>
                                    </h5>
                                    <h3 class="card-title pt-2"><strong id="thanhtoanTenPhim"></strong></h3>
                                    <div class="row" id="ghechoosen">
                                    </div>
                                    <h3 class="font-weight-bold rounded p-2">
                                        <span>TOTAL: </span><span id="tongcong">-----------</span><span> VND</span>
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <label>Sự kiện:</label>
                        <select class="mdb-select" id="thanhtoanSukien">
                            <option value="" disabled>Choose option</option>
                            <option value="noevent" selected>Không áp dụng sự kiện</option>
                            <option th:each="sukien : ${@sukienServiceimpl.getAllSuKienActive()}"
                                    th:value="${sukien.id}" th:text="${sukien.ten}"></option>
                        </select>


                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="submitdatve" class="btn btn-default" th:text="#{chinsau}">  <i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mega menu -->

</main>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {

            $(window).on('beforeunload', function () {
                $.ajax({
                    url: '/api/employee/close',
                    type: 'GET'
                });
            })

            var listDayGhe = [];
            var idSuatChieu = -1;
            var idSukien = 'noevent';
            var listGhe = [];

            function loadGhe() {
                if (idSuatChieu != null) {
                    $.ajax({
                        url: '/api/employee/loadghebysuatchieu=' + idSuatChieu,
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: 'application/json',
                        processData: false,
                        beforeSend: function () {
                            $('#dataGhe').html('<div class="d-flex justify-content-center align-items-center preloader-wrapper big active">\n' +
                                '  <div class="spinner-layer spinner-red-only">\n' +
                                '    <div class="circle-clipper left">\n' +
                                '      <div class="circle"></div>\n' +
                                '    </div>\n' +
                                '    <div class="gap-patch">\n' +
                                '      <div class="circle"></div>\n' +
                                '    </div>\n' +
                                '    <div class="circle-clipper right">\n' +
                                '      <div class="circle"></div>\n' +
                                '    </div>\n' +
                                '  </div>\n' +
                                '</div>');
                        },
                        success: function (data) {
                            listDayGhe = data;
                        },
                        complete: function () {
                            fillGhe();
                        },
                        error: function () {
                            toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                        }
                    });
                }
            };

            function loadStt() {
                if(listGhefocus.length==0){
                    $('#btnthanhtoan').hide();
                }else{
                    $('#btnthanhtoan').show();
                }
                $.ajax({
                    url: '/api/employee/gettrangthaighebysuatchieu=' + idSuatChieu,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {
                        var listGheStt = data;
                        $('option.ActionGhe').each(function () {
                            for (var i = 0; i < listDayGhe.length; i++) {
                                var listGhe = listDayGhe[i].gheResponses;
                                for (var ii = 0; ii < listGhe.length; ii++) {
                                    if (listGhe[ii].id == $(this).val()) {
                                        $(this).removeClass();
                                        $(this).attr("disabled", false);
                                        if (listGhe[ii].trangthai == 0) {
                                            $(this).addClass('ActionGhe btn text-center btn-info');
                                        }
                                        if (listGhe[ii].trangthai == 4) {
                                            $(this).addClass('ActionGhe btn text-center btn-light');
                                            $(this).attr("disabled", true);
                                        }
                                        if (listGhe[ii].idLoaiGhe == 2) {
                                            $(this).addClass('border-bottom border-warning');

                                        }
                                    }
                                }
                            }

                            for (var iz = 0; iz < listGheStt.length; iz++) {
                                if (listGheStt[iz].id == $(this).val()) {
                                    $(this).removeClass();
                                    $(this).attr("disabled", false);
                                    if (listGheStt[iz].trangthai == 1) {
                                        $(this).attr('disabled', 'disabled');
                                        $(this).addClass('ActionGhe btn text-center btn-danger');
                                    }
                                    if (listGheStt[iz].trangthai == 2) {
                                        $(this).addClass('ActionGhe btn text-center btn-warning');
                                    }
                                    if (listGheStt[iz].trangthai == 3) {
                                        $(this).attr("disabled", true);
                                        $(this).addClass('ActionGhe btn text-center btn-warning');

                                    }
                                }
                            }
                        });
                    },
                    error: function () {

                    }
                });
            }

            setInterval(loadStt, 200);


            function fillGhe() {
                var content = '';
                for (var i = 0; i < listDayGhe.length; i++) {


                    content += '<tr class="text-center">\n' +
                        '<td class="white-text">Dãy ' + listDayGhe[i].ten + '</td>\n';
                    var listGheofDay = listDayGhe[i].gheResponses;

                    for (var ii = 0; ii < listGheofDay.length; ii++) {
                        listGhe.push(listGheofDay[ii]);
                        content += '<td><option value="' + listGheofDay[ii].id + '" style="border-width:4px !important;" class="ActionGhe btn text-center"><i class="fas fa-chair"></i> ' + listGheofDay[ii].tenDay + listGheofDay[ii].col + '</option></td>';
                    }

                    content += '<td class="white-text">Dãy ' + listDayGhe[i].ten + '</td>\n' +
                        '</tr>';
                }
                ;

                $('#dataGhe').html(content);
            };

            function loadTongCong(idsukien) {
                $.ajax({
                    url: '/api/employee/getTotal?idsukien=' + idsukien,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {
                        $('#tongcong').text(data);
                    },
                    complete: function () {

                    },
                    error: function () {
                        toastr.error('không load được dữ liệu tong cong từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });
            };


            function findGheByID(idghe) {
                for (var i = 0; i < listGhe.length; i++) {
                    if (parseInt(idghe) == listGhe[i].id) {
                        return listGhe[i];
                    }
                }
                return 'Can';
            };

            function sortNumber(a, b) {
                return a - b;
            }

            function getMinandMaxGhe(list) {
                var array = [];
                for (var i = 0; i < list.length; i++) {
                    array.push(list[i].col);
                }
                array.sort(sortNumber);
                return [array[0] - 1, array[array.length - 1] + 1];
            }

            var listGhefocus = [];

            $(document).on('click', 'option.ActionGhe', function () {

                var ghe = findGheByID($(this).val());


                var listGheforDay = [];

                for(var t =0;t<listGhefocus.length;t++){
                    if(ghe.idDay == listGhefocus[t].idDay){
                        listGheforDay.push(listGhefocus[t]);
                    }
                }


                var MinandMax = getMinandMaxGhe(listGheforDay);

                var index = listGhefocus.indexOf(ghe);
                if (index != -1) {
                    if (!(ghe.col > MinandMax[0] + 1 && ghe.col < MinandMax[1] - 1)) {
                        listGhefocus.splice(index, 1);
                        focus(ghe.id);
                    } else {
                        toastr.warning('không thể hủy ghế ở giữa!', '', {positionClass: 'md-toast-top-center'});
                    }
                } else {
                    if (listGhefocus.length == 0) {
                        listGhefocus.push(ghe);
                        focus(ghe.id);
                    } else if (listGhefocus[0].idLoaiGhe == ghe.idLoaiGhe) {


                        if(listGheforDay.length==0){
                            listGhefocus.push(ghe);
                            focus(ghe.id);
                        }else

                        if (ghe.col == MinandMax[0] || ghe.col == MinandMax[1]) {
                            listGhefocus.push(ghe);
                            focus(ghe.id);
                        }else{
                            toastr.warning('Hãy chọn ghế liền nhau!', '', {positionClass: 'md-toast-top-center'});
                        }
                    }else{
                        toastr.warning('Hãy chọn ghế cùng loại!', '', {positionClass: 'md-toast-top-center'});
                    }
                }
            });


            function focus(idghe) {
                $.ajax({
                    url: "/api/employee/setghefocus",
                    type: "POST",
                    cache: false,
                    async: true,
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify({
                        "idsuatchieu": parseInt(idSuatChieu),
                        "idghe": parseInt(idghe),
                        "stt": 2
                    }),
                    datatype: "json",
                    success: function (data) {

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status + " : " + errorThrown);
                    }
                });
            }

            $(document).on('click', 'option.rdoSuatChieu', function () {
                $.ajax({
                    url: '/api/employee/clearsession',
                    type: 'GET'
                });
                idSuatChieu = $(this).val();
                loadGhe();
            });

            $(document).on('click','#btnthanhtoan',function () {

                $('#thanhtoanSukien').val('noevent');
                idSukien = 'noevent';
                var suatchieu = {};
                var gheChoosen = [];
                $.ajax({
                    url: '/api/employee/getSuatChieu/' + idSuatChieu,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {
                        suatchieu = data;
                    },
                    complete: function () {
                        $('#timeSuatChieu').text(suatchieu.batdau + ' - ' + suatchieu.ketthuc);
                        $('#thanhtoanTenPhim').text(suatchieu.idphim)
                    },
                    error: function () {
                        toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });

                $.ajax({
                    url: '/api/employee/getGheChoosen',
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    success: function (result) {
                        gheChoosen = result;
                    },
                    complete: function () {
                        var content = '';
                        for (var ii = 0; ii < gheChoosen.length; ii++) {
                            content += '<div class="col-6 mx-auto p-1">\n' +
                                '<div class="btn btn-warning"><i class="fas fa-chair text-center"></i> ' + (gheChoosen[ii].gheResponse.tenDay + gheChoosen[ii].gheResponse.col) + '</div>\n' +
                                '</div>';
                        }
                        $('#ghechoosen').html(content);
                    },
                    error: function () {
                        toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                    }
                });
                loadTongCong(idSukien);
            });
            $('#thanhtoanSukien').change(function () {
                idSukien = $(this).val();
                loadTongCong(idSukien);
            });

            var content = '';
            $(document).on('click','#submitdatve',function () {
                $.ajax({
                    url: '/api/employee/saveTicket?idsukien=' + idSukien,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function (){
                        $('#modalContactForm').modal('hide');
                        $('#loading').html('<div class="parent-p"><div class="spinner"></div></div>');
                    },
                    success: function (data) {
                        var nbo = data;
                        if(nbo.minScrollbarLength!=0){
                            toastr.success('Xuất vé thành công', '', {positionClass: 'md-toast-top-right'});
                            for (var z = 0;z<nbo.length;z++){
                                window.open('/employee/xuatve/'+nbo[z][1]+'|'+nbo[z][0]);
                            }


                        }else {
                            toastr.error('Xuất vé thất bại', '', {positionClass: 'md-toast-top-right'});

                        }
                    },
                    complete: function () {
                        $('#loading').html('');
                        $('#modalContactForm').modal('hide');
                        listGhefocus = [];
                        loadGhe();
                        $.ajax({
                            url: '/api/employee/clearsession',
                            type: 'GET'
                        });
                    }
                });
            });
        })
    </script>
</th:block>
</body>
</html>