<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout}">

<head>
    <title>Xác nhận vé online</title>
</head>

<body>


<main class="my-5" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-cascade wider reverse my-4 mx-3 card-transparent">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" th:src="@{/img/images/onlinesticket.png}"  style="object-fit: cover;  object-position: center;  width: 100%;  max-height: 200px;">
                        <a href="#!">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!-- Card image -->

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <section><form action="#">
                            <div class="row">
                                <div class="col-md-4 mb-4">


                                        <div class="md-form">
                                            <i class="fas fa-search prefix"></i>
                                            <input type="text" id="form1" class="form-control">
                                            <label for="form1" class="" th:text="#{mot1}"></label>

                                        </div>


                                </div>
                                <div class="col-md-4 mb-4 pt-3">
                                    <button class="btn btn-warning"><i class="fas fa-sync-alt"></i></button>
                                </div>
                            </div>
                        </form></section>

                        <section>

                            <div class="card">
                                <div class="card-body table-responsive">

                                    <!-- Table -->
                                    <table class="table table-striped table-responsive-md btn-table">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{mot2}"></th>
                                            <th th:text="#{baychin}"></th>
                                            <th th:text="#{tamnam}"></th>
                                            <th th:text="#{tammot}"></th>
                                            <th th:text="#{mot3}"></th>
                                            <th th:text="#{mot4}"></th>
                                            <th th:text="#{tamtam}"></th>
                                            <th th:text="#{tamchin}"></th>
                                        </tr>
                                        </thead>

                                        <tbody id="dataVEON">


                                        </tbody>

                                    </table>
                                    <!-- Table -->

                                </div>
                            </div>

                        </section>

                    </div>
                    <!-- Card content -->

                </div>
            </div>
        </div>

        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận vé</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Chắc chắn rằng muốn xác nhận vé này
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="xacnhanveMD btn btn-primary" data-dismiss="modal">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal -->

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $('body').ready(loadVeonline());

            var listVeon = [];


            function loadVeonline() {
                $.ajax({
                    url:'/api/employee/getlistveonline',
                    type:'POST',
                    dataType:'JSON',
                    success:function (data) {
                        listVeon = data;

                    }
                    ,complete: function () {
                        fillVEON();
                    }
                })
            }

            function fillVEON() {
                var content = '';
                for(var i = 0;i<listVeon.length;i++){
                   content+='<tr>\n' +
                       '<th scope="row">'+(i+1)+'</th>\n' +
                       '<td>'+listVeon[i].tenkhachhang+'</td>\n' +
                       '<td>'+listVeon[i].sdt+'</td>\n' +
                       '<td>'+listVeon[i].tenphim+'</td>\n' +
                       '<td>'+listVeon[i].suatchieu+'</td>\n' +
                       '<td>'+listVeon[i].ngaytao+'</td>\n' +
                       '<td>'+listVeon[i].hethan+'</td>\n' +
                       '<td>'+(listVeon[i].trangthai==0?'Chưa XN':listVeon[i].trangthai==1?'Đã XN':'Hết hạn')+'</td>\n' +
                       '<td>\n' +
                       '<option data-toggle="modal" data-target="#basicExampleModal" '+(listVeon[i].trangthai==0?'':'disabled')+' value="'+listVeon[i].idsuatchieughe+'" type="button" class="xacnhanVE btn btn-teal btn-rounded btn-sm m-0">Xác nhận</option>\n' +
                       '</td>\n' +
                       '</tr>'
                }
                $('#dataVEON').html(content);
            }
            var idveon = '';
            $(document).on('click','option.xacnhanVE',function () {
                idveon = $(this).val()
            });
            $('button.xacnhanveMD').click(function () {
                $.ajax({
                    url:'/api/employee/xacnhanve'+idveon,
                    type:'POST',
                    dataType:'JSON',
                    success:function (data) {
                        var nbo = data;
                        console.log(nbo)
                        if(nbo.minScrollbarLength!=0){
                            toastr.success('xác nhận hoàn tất', '', {positionClass: 'md-toast-top-right'});
                            window.open('/employee/xuatve/'+nbo[1]+'|'+nbo[0]);
                        }else{
                            toastr.error('xác nhận thất bại', '', {positionClass: 'md-toast-top-right'});
                        }
                    },
                    error:function () {
                        toastr.error('xác nhận thất bại', '', {positionClass: 'md-toast-top-right'});
                    }
                    ,complete: function () {
                        loadVeonline();
                    }
                })
            });
        });
    </script>
</th:block>

</body>

</html>