<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" >

<head>
 <title>Loại phim</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

        <!-- Section: Basic examples -->
        <section>

          <div class="card card-cascade narrower z-depth-1">

            <!-- Card image -->
            <div class="row view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
              <div class="col-sm-12 col-md-4  d-flex align-items-center">
                <a th:href="@{/admin/movie-type/add-movie-type} "class="btn btn-outline-white btn-rounded btn-sm px-2 m-1"><i class="fas fa-plus-circle"></i></a>
              </div>
              <div class="col-sm-12 col-md-4 d-flex justify-content-center"><h3 class="white-text text-center font-weight-bold" th:text="#{seventy-FourthWord }"></h3></div>
              <div class="col-sm-12 col-md-4 d-flex justify-content-end">
                <form th:action="@{/admin/movie-type/page/1}" class="form-inline md-form m-2">
                  <input type="hidden" name="sortField" th:value="${sortField}"/>
                  <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                  <input class="form-control text-white mb-3" type="text" name="keyword" id="keyword" th:value="${keyword}" required>
                  <button type="submit" class="btn btn-outline-white btn-rounded btn-sm px-2 m-1"><i class="fas fa-search"></i></i> </button>
                  <a th:href="@{/admin/movie-type/show-movie-type}"  class="btn btn-outline-white btn-rounded btn-sm px-2 m-1"><i class="fas fa-eraser" title=""></i></a>

                </form>
              </div>

            </div>


            <div class="px-4">
              <div th:switch="${messages}" >
                <p th:case="'themThanhCong'" class="alert alert-success" role="alert">Thêm thành công!</p>
                <p th:case="'suaThanhCong'" class="alert alert-success" role="alert">Sửa thành công!</p>
                <p th:case="'xoaThanhCong'" class="alert alert-success" role="alert">Xóa thành công!</p>
              </div>
              <div class="table-responsive text-nowrap" style="height:350px">
                <!-- Table -->
                <table class="table table-hover mb-0 ">

                  <!-- Table head -->
                  <thead>
                    <tr>
                      <th >
                      </th>
                      <th >
                        <a class="font-weight-bold" th:href="@{'/admin/movie-type/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="#{seventy-FifthWord}" > <i class="fas fa-sort ml-1"></i></a>
                      </th>
                      <th >
                        <a class="font-weight-bold" th:href="@{'/admin/movie-type/page/' + ${currentPage} + '?sortField=ten&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="#{seventy-SixthWord}"> <i class="fas fa-sort ml-1"></i></a>
                      </th>
                      <th ><a class="font-weight-bold" th:text="#{seventy-SeventhWord}" ></a></th>
                      <th ><a class="font-weight-bold" th:text="#{seventy-EighthWord }"></a></th>
                      <th ><a class="font-weight-bold" th:text="#{seventy-NinthWord}"></a></th>
                      <th ><a class="font-weight-bold" th:text="#{eightiethWord}"></a></th>
                      <th ><a class="font-weight-bold" th:text="#{eighty-FirstWord}"></a></th>
                      <th ><a class="font-weight-bold" th:text="#{eighty-SecondWord}"></a></th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                    <tr th:each="loaiphim :${loaiPhim}">
                      <td>
                        <a th:href="@{/admin/movie-type/edit?id={id}(id=${loaiphim.id})}" class="fas fa-edit text-primary" th:title="Sửa"></a> <a th:href="@{/admin/movie-type/delete?id={id}(id=${loaiphim.id})}" class="fas fa-trash ml-3 text-danger" th:title="Xóa"></a>
                      </td>
                      <td th:text="${loaiphim.id}"></td>
                      <td th:text="${loaiphim.ten}"></td>
                      <td th:text="${loaiphim.mota}"></td>
                      <td th:text="${loaiphim.taikhoan.ten}"></td>
                      <td th:text="${#temporals.format(loaiphim.ngaytao, 'dd-MM-yyyy | HH:mm:ss')}"></td>
                      <td ></td>
                      <td></td>
                      <td th:switch="${loaiphim.trangthai}"><span th:case="0">Hiện</span> <span th:case="1">Ẩn</span></td>
                    </tr>
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
              </div>

              <hr class="my-0">

              <!-- Bottom Table UI -->
              <div class="d-flex justify-content-between">

                <!-- Name -->
                <div class="my-4">
                  Tổng: [[${totalItem}]] | Trang [[${currentPage}]]/[[${totalPages}]]
                </div>

                <!-- Pagination -->
                <nav class="my-4">
                  <ul class="pagination pagination-circle pg-blue mb-0">

                    <!-- First -->
                    <li class="page-item clearfix d-none d-md-block">
                      <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/movie-type/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
                      <span  class="page-link" th:unless="${currentPage > 1}">First</span>
                    </li>

                    <!-- Arrow left -->
                    <li class="page-item ">
                        <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/movie-type/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&laquo;</a>
                        <span  class="page-link" th:unless="${currentPage > 1}">&laquo;</span>
                    </li>

                    <!-- Numbers -->
<!--                    <li class="page-item active clearfix d-none d-md-inline-block"><a class="page-link">5</a></li>-->
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                      <li class="page-item  clearfix d-none d-md-inline-block"><a class="page-link" th:if="${currentPage != i}" th:href="@{'/admin/movie-type/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a></li>
                        <span th:unless="${i != currentPage}">
                          <li class="page-item active clearfix d-none d-md-inline-block"><a class="page-link">[[${i}]]</a></li>
                        </span>
                        &nbsp;&nbsp;
                    </span>
<!--                    <li class="page-item active clearfix d-none d-md-inline-block"><a class="page-link">5</a>-->

<!--                    </li>-->



                    <!-- Arrow right -->
                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/movie-type/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&raquo;</a>
                        <span  class="page-link" th:unless="${currentPage < totalPages}">&raquo;</span>
                    </li>

                    <!-- First -->
                    <li class="page-item clearfix d-none d-md-block">
                      <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/movie-type/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
                      <span  class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                    </li>
                  </ul>
                </nav>
                <!-- /Pagination -->

              </div>
              <!-- Bottom Table UI -->

            </div>
          </div>

        </section>
        <!-- Section: Basic examples -->

      </div>
  </main>
</body>

</html>