<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Thêm bình luận</title>
</head>

<body class="fixed-sn white-skin">

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">
        <div>
          <div class="card card-cascade narrower ">
            <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
              <h3 class="card-header-title">Thêm mới Bình Luận</h3>  
            </div>
        <div class="card-body">

          <!-- Section heading -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mb-2">

              <div class="md-form md-outline">
                <i class="fas fa-key prefix"></i>
                <input type="text" id="form31" class="form-control">
                <label for="form31" class="active">ID</label>
              </div>

            </div>
            <div class="col-md-6 mb-6">

                <!-- Name -->
                <select class="mdb-select md-form">
                  <optgroup label="team 1">
                    <option value="1">Aquaman</option>
                    <option value="2">Option 2</option>
                  </optgroup>
                  <optgroup label="team 2">
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </optgroup>
                </select>
                <label class="mdb-main-label">Tên Phim</label>
              </div>
              <div class="col-md-4 mb-4">

                <!-- Name -->
                <select class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option disabled selected>Choose your option</option>
                  <option value="2">Hiện</option>
                  <option value="3">Ẩn</option>
                </select><label class="mdb-main-label active">Trạng thái</label>
  
              </div>
            <!-- Grid column -->

          </div>

          <div class="row">
            <div class="col-md-12 mb-12">

                <div class="md-form md-outline">
                  <i class="fas fa-clipboard prefix"></i>
                  <textarea type="" id="form31" class="form-control"></textarea>
                  <label for="form31" class="active">Nội Dung</label>
                </div>
  
            </div>
          </div>
          <!-- Grid row -->
          <hr>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 ">

              <button type="button" class="btn blue-gradient float-right btn-rounded ">THÊM</button>

            </div>
            <!-- Grid column -->

          </div>

        </div>
        </div>
        </div>
      </section>
      <!-- Section: Inputs -->
    </div>
  </main>
  <!-- Main layout -->

</body>

</html>