<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Thêm quốc gia</title>
</head>

<body>
<!-- Main layout -->
<main layout:fragment="content">
  <div class="container-fluid">

    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div>
        <div class="card card-cascade narrower ">
          <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
            <h3 class="card-header-title">Thêm mới Quốc Gia</h3>
          </div>

          <div class="card-body">

            <!-- Section heading -->

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-2 mb-2">

                <div class="md-form md-outline">
                  <i class="fas fa-key prefix"></i>
                  <input type="text" id="form31" class="form-control">
                  <label for="form31" class="active">ID</label>
                </div>

              </div>

              <div class="col-md-5 mb-5">

                <div class="md-form md-outline">
                  <i class="fas fa-globe prefix"></i>
                  <input type="text" id="form31" class="form-control">
                  <label for="form31" class="active">Tên Quốc Gia</label>
                </div>

              </div>

              <div class="col-md-5 mb-5">

                <!-- Name -->
                <select class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option disabled selected>Choose your option</option>
                  <option value="2">Hiện</option>
                  <option value="3">Ẩn</option>
                </select><label class="mdb-main-label active">Trạng thái</label>

              </div>

              <!-- Grid column -->

            </div>

            <div class="row">
              <div class="col-md-12 mb-12">

                <div class="md-form md-outline">
                  <i class="fas fa-clipboard prefix"></i>
                  <textarea type="" id="form31" class="form-control"></textarea>
                  <label for="form31" class="active">Mô tả</label>
                </div>

              </div>
            </div>
            <!-- Grid row -->
            <hr>
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-12 mb-4 ">

                <button type="button" class="btn blue-gradient float-right btn-rounded ">THÊM</button>

              </div>
              <!-- Grid column -->

            </div>

          </div>
        </div>
      </div>

    </section>
    <!-- Section: Inputs -->
  </div>
</main>
<!-- Main layout -->
</body>

</html>