<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Thêm phòng</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
      <form th:action="@{/admin/room/add-room}" th:object="${room}" method="post">
          <div class="container-fluid">



              <!-- Section: Inputs -->
              <section >
                  <div>
                      <div class="card card-cascade narrower ">
                          <!-- Card image -->
                          <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
                              <h3 class="card-header-title">Thêm mới Phòng</h3>
                          </div>
                          <!-- /Card image -->
                          <!-- Section heading -->
                          <div class="card-body ">
                              <div th:switch="${messages}">
                                  <p th:case="'trungid'" class="alert alert-danger" role="alert">ID đã tồn tại</p>
                              </div>
                              <!-- Grid row -->
                              <div class="row">

                                  <!-- Grid column -->
                                  <div class="col-md-2 mb-4">
                                      <div class="md-form md-outline">
                                          <i class="fas fa-key prefix"></i>
                                          <input th:field="*{id}" type="text" id="form31" class="form-control">
                                          <label for="form31" class="active">ID</label>
                                          <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger text-center"></p>
                                      </div>

                                  </div>
                                  <!-- Grid column -->

                                  <!-- Grid column -->
                                  <div class="col-md-4 mb-4">
                                      <div class="md-form md-outline">
                                          <i class="fas fa-door-closed prefix"></i>
                                          <input th:field="*{ten}" type="text" id="form32" class="form-control">
                                          <label for="form32" class="active">Tên Phòng</label>
                                          <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger text-center"></p>
                                      </div>

                                  </div>
                                  <!-- Grid column -->

                                  <!-- Grid column -->
                                  <div class="col-md-3 mb-4">

                                      <!-- Name -->
                                      <select th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                                          <option value="0">Hiện</option>
                                          <option value="1">Ẩn</option>
                                      </select><label class="mdb-main-label active">Trạng thái</label>

                                  </div>
                                  <!-- Grid column -->

                              </div>
                              <!-- Grid row -->


                              <hr/>
                              <!-- Grid row -->
                              <div class="row">

                                  <!-- Grid column -->
                                  <div class="col-md-12 mb-4 ">

                                      <button type="submit" class="btn blue-gradient btn-rounded float-right">Thêm</button>

                                  </div>
                                  <!-- Grid column -->

                              </div>
                              <!-- Grid row -->
                          </div>
                      </div>
                  </div>
              </section>
              <!-- Section: Inputs -->


          </div>
      </form>
  </main>
  <!-- Main layout -->

</body>

</html>
