<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
<title>Thêm ghế</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

    

      <!-- Section: Inputs -->
      <section >
        <div>
        <div class="card card-cascade narrower ">
          <!-- Card image -->
          <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
            <h3 class="card-header-title">Thêm mới Ghế</h3>  
          </div>
          <!-- /Card image -->
          <!-- Section heading -->
          <div class="card-body ">
          <!-- Grid row -->
            <div class="row col-10 m-auto">
            <!-- Grid column -->
            <div class="col-md-3 mb-4 ">
              <div class="md-form md-outline">
                <i class="fas fa-key prefix"></i>
                <input  type="text" id="form31" class="form-control">
                <label for="form31" class="active">ID</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column --> 
            <div class="col-md-5 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-chair prefix"></i>
                <input type="text" id="form31" class="form-control">
                <label for="form31" class="active">Tên Ghế</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
                <select class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option disabled selected>Choose your option</option>
                  <option value="2">Hiện</option>
                  <option value="3">Ẩn</option>
                </select><label class="mdb-main-label active">Phòng</label>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row col-10 m-auto">

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
                <select class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option disabled selected>Choose your option</option>
                  <option value="2">Hiện</option>
                  <option value="3">Ẩn</option>
                </select><label class="mdb-main-label active">Loại Ghế</label>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
                <select class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option disabled selected>Choose your option</option>
                  <option value="2">Hiện</option>
                  <option value="3">Ẩn</option>
                </select><label class="mdb-main-label active">Dãy Ghế</label>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

              <!-- Name -->
                <select class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option disabled selected>Choose your option</option>
                  <option value="2">Hiện</option>
                  <option value="3">Ẩn</option>
                </select><label class="mdb-main-label active">Trạng thái</label>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <hr/>
           <!-- Grid row -->
           <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 ">

              <button type="button" class="btn blue-gradient btn-rounded float-right">Thêm</button>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
          </div>
        </div>
      </div>
      </section>
      <!-- Section: Inputs -->


    </div>
  </main>
  <!-- Main layout -->

</body>

</html>
