<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
    <title>Danh sách ghế</title>
</head>

<body>

<!-- Main layout -->
<main layout:fragment="content">
    <div class="container-fluid">

        <!-- Section: Basic examples -->
        <section>

          <div class="row">
            <div class="col-12">
              <label class="h4 rgba-black-light p-1 rounded" th:text="#{bonchin}"> </label>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr class="text-center white-text">
                    <th class="h4" colspan="100%" th:text="#{nammot}"><i class="fas fa-desktop"></i>  <i
                            class="fas fa-desktop"></i></th>
                  </tr>
                  </thead>
                  <tbody id="dataGhe">
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </section>
        <!-- Section: Basic examples -->

    </div>
</main>
<!-- Main layout -->
<th:block layout:fragment="optional">
    <script>
        $(document).ready(function () {
          var listDayGhe = [];
          var idphong ='2';
          var listGhe = [];
          $('body').ready(loadGhe());
          function loadGhe() {
            if (idphong != null) {
              $.ajax({
                url: '/api/admin/loadghebyphong=' + idphong,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                processData: false,
                beforeSend: function () {
                  $('#dataGhe').html('<div class="d-flex justify-content-center align-items-center preloader-wrapper big active">\n' +
                          '  <div class="spinner-layer spinner-red-only">\n' +
                          '    <div class="circle-clipper left">\n' +
                          '      <div class="circle"></div>\n' +
                          '    </div>\n' +
                          '    <div class="gap-patch">\n' +
                          '      <div class="circle"></div>\n' +
                          '    </div>\n' +
                          '    <div class="circle-clipper right">\n' +
                          '      <div class="circle"></div>\n' +
                          '    </div>\n' +
                          '  </div>\n' +
                          '</div>');
                },
                success: function (data) {
                  listDayGhe = data;
                },
                complete: function () {
                  fillGhe();
                },
                error: function () {
                  toastr.error('không load được dữ liệu từ máy chủ', '', {positionClass: 'md-toast-top-right'});
                }
              });
            }
          };
          function fillGhe() {
            var content = '';
            for (var i = 0; i < listDayGhe.length; i++) {


              content += '<tr class="text-center">\n' +
                      '<td>Dãy ' + listDayGhe[i].ten + '</td>\n';
              var listGheofDay = listDayGhe[i].gheResponses;

              for (var ii = 0; ii < listGheofDay.length; ii++) {
                listGhe.push(listGheofDay[ii]);
                content += '<td><option value="' + listGheofDay[ii].id + '" style="border-width:4px !important;" class="ActionGhe btn btn-primary text-center"><i class="fas fa-chair"></i> ' + listGheofDay[ii].tenDay + listGheofDay[ii].col + '</option></td>';
              }

              content += '<td>Dãy ' + listDayGhe[i].ten + '</td>\n' +
                      '</tr>';
            }
            ;

            $('#dataGhe').html(content);
          };
        });
    </script>
</th:block>
</body>

</html>
