<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
 <title>Cập nhật ghế</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <form th:action="@{/admin/seat/update-seat/}" th:object="${seat}" method="post">
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{ngaytao}">
      <input type="hidden" th:field="*{taikhoan}">
      <div class="container-fluid">
        <!-- Section: Inputs -->
        <section >
          <div>
            <div class="card card-cascade narrower ">
              <!-- Card image -->
              <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
                <h3 class="card-header-title">Thêm mới Ghế</h3>
              </div>
              <!-- /Card image -->
              <!-- Section heading -->
              <div class="card-body ">
                <!-- Grid row -->
                <div class="row col-10 m-auto">

                  <!-- Grid column -->
                  <div class="col-md-5 mb-4">
                    <div class="md-form md-outline">
                      <i class="fas fa-chair prefix"></i>
                      <input th:field="*{col}" type="text" id="form31z" class="form-control">
                      <label for="form31z" class="active">Ghế</label>
                    </div>

                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 mb-4">
                    <select th:field="*{phong}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                      <option th:each="phong : ${@phongServiceImpl.getAllPhong()}" th:value="${phong.id}" th:text="${phong.ten}" >Hiện</option>
                    </select><label class="mdb-main-label active">Phòng</label>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row col-10 m-auto">

                  <!-- Grid column -->
                  <div class="col-md-4 mb-4">
                    <select th:field="*{loaighe}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                      <option th:each="loaighe1 : ${@loaiGheServiceImpl.getAllLoaiGhe()}" th:value="${loaighe1.id}" th:text="${loaighe1.ten}">Hiện</option>
                    </select><label class="mdb-main-label active">Loại Ghế</label>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 mb-4">
                    <select th:field="*{dayghe}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                      <option th:each="day : ${@dayGheServiceImpl.getAllDayGhe()}" th:value="${day.id}" th:text="${day.ten}">Hiện</option>
                    </select><label class="mdb-main-label active">Dãy Ghế</label>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 mb-4">

                    <!-- Name -->
                    <select th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                      <option value="0">Hiện</option>
                      <option value="1">Ẩn</option>
                    </select><label class="mdb-main-label active">Trạng thái</label>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr/>
                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-12 mb-4 ">

                    <button type="submit" class="btn blue-gradient btn-rounded float-right">Cập nhật</button>

                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Inputs -->


      </div>
    </form>
  </main>
  <!-- Main layout -->

</body>

</html>
