<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Thêm quốc gia</title>
</head>

<body>
<!-- Main layout -->
<main layout:fragment="content">
  <div class="container-fluid">

    <!-- Section: Inputs -->
    <section class="section card mb-4">
      <div>
        <div class="card card-cascade narrower ">
          <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
            <h3 class="card-header-title" th:text="#{mottrambatam}"></h3>
          </div>

          <div class="card-body">
            <form th:object="${ngonNgu}" th:action="@{/admin/language/add-language}" action="#" method="post">
              <!-- Section heading -->
              <div th:switch="${messages}">
                <p th:case="'ThanhCong'" class="alert alert-success" role="alert">Thêm thành công!</p>
                <p th:case="'TrungID'" class="alert alert-danger" role="alert">ID đã tồn tại</p>
              </div>
            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-2 mb-4">

                <div class="md-form md-outline">
                  <i class="fas fa-key prefix"></i>
                  <input type="text" th:field="*{id}" id="form31" class="form-control">
                  <label for="form31" class="active" th:text="#{mottrambachin}"></label>
                  <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger text-center"></p>
                </div>

              </div>

              <div class="col-md-5 mb-4">

                <div class="md-form md-outline">
                  <i class="fas fa-globe prefix"></i>
                  <input type="text" th:field="*{ten}" id="form32" class="form-control">
                  <label for="form32" class="active" th:text="#{mottrambonmuoi}"></label>
                  <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger text-center"></p>
                </div>

              </div>

              <div class="col-md-5 mb-4">

                <!-- Name -->
                <select th:field="*{trangthai}" class="mdb-select md-form colorful-select dropdown-primary initialized">
                  <option th:value="'0'" th:text="Hiện"  ></option>
                  <option th:value="'1'" th:text="Ẩn" ></option>
                </select><label class="mdb-main-label active" th:text="#{mottrambonmuoimot}"></label>

              </div>

              <!-- Grid column -->

            </div>

            <div class="row">
              <div class="col-md-12 mb-4">

                <div class="md-form md-outline">
                  <i class="fas fa-clipboard prefix"></i>
                  <textarea type="textarea" th:field="*{mota}"  id="form33" class="form-control"></textarea>
                  <label for="form33" class="active" th:text="#{mottrambonmuoihai}"></label>
                </div>

              </div>
            </div>
            <!-- Grid row -->
            <hr>
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-12 mb-4 ">

                <button type="submit" class="btn blue-gradient float-right btn-rounded " th:text="#{mottrambonmuoiba}"></button>

              </div>
              <!-- Grid column -->

            </div>

          </div>
        </div>
      </div>

    </section>
    <!-- Section: Inputs -->
  </div>
</main>
<!-- Main layout -->
</body>

</html>