<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Ngôn ngữ</title>
</head>

<body>

  <!-- Main layout -->
  <main layout:fragment="content">
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">

        <div>
          <div class="card card-cascade narrower ">
            <div class="view view-cascade gradient-card-header blue-gradient narrower  ">
              <h3 class="card-header-title">Cập Nhật Quốc Gia</h3>  
            </div>

        <div class="card-body">
          <form th:object="${ngonNgu}" th:action="@{/admin/language/edit}" action="#" method="post">
            <!-- Section heading -->
            <div th:switch="${messages}">
              <p th:case="'ThanhCong'" class="alert alert-success" role="alert">Cập nhật thành công!</p>
            </div>
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mb-5">

              <div class="md-form md-outline">
                <i class="fas fa-key prefix"></i>
                <input type="text" th:field="*{id}" id="form31" class="form-control" readonly>
                <label for="form31" class="active">ID</label>
                <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger text-center" ></p>
              </div>


            </div>

            <div class="col-md-5 mb-5">

              <div class="md-form md-outline">
                <i class="fas fa-globe prefix"></i>
                <input type="text" th:field="*{ten}" id="form31" class="form-control">
                <label for="form31" class="active">Tên Quốc Gia</label>
                <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger text-center"></p>
              </div>

            </div>

            
            <!-- Grid column -->

          </div>
          <div class="row">
            <div class="col-md-12 mb-12">

                <div class="md-form md-outline">
                  <i class="fas fa-clipboard prefix"></i>
                  <textarea type="textarea"  th:field="*{mota}" id="form31" class="form-control"></textarea>
                  <label for="form31" class="active">Mô tả</label>
                </div>
  
            </div>
          </div>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-user-plus prefix"></i>
                <input type="text" th:field="*{taikhoan.username}" id="form31" class="form-control" readonly>
                <label for="form31" class="active">Người Tạo</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-4">
              <div class="md-form md-outline">
                <i class="fas fa-calendar-plus prefix"></i>
                <input type="datetime-local" th:field="*{ngaytao}" id="form31" class="form-control" readonly>
                <label for="form31" class="active">Ngày Tạo</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
<!--            <div class="col-md-3 mb-4">-->
<!--              <div class="md-form md-outline">-->
<!--                <i class="fas fa-user-edit prefix"></i>-->
<!--                <input type="text" id="form31" class="form-control" readonly>-->
<!--                <label for="form31" class="active">Người Sửa</label>-->
<!--              </div>-->

<!--            </div>-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->

<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            <div class="col-md-3 mb-4">-->
<!--              <div class="md-form md-outline">-->
<!--                <i class="fas fa-calendar-alt prefix"></i>-->
<!--                <input type="date" id="form31" class="form-control" readonly>-->
<!--                <label for="form31" class="active">Ngày Sửa</label>-->
<!--              </div>-->

<!--            </div>-->
            <!-- Grid column -->



          </div>
          <!-- Grid row -->
          <hr>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mb-4 ">

              <button type="submit" class="btn blue-gradient float-right btn-rounded ">CẬP NHẬT</button>

            </div>
            <!-- Grid column -->

          </div>

          </form>
        </div>
        </div>
        </div>

      </section>
      <!-- Section: Inputs -->
    </div>
  </main>
  <!-- Main layout -->

</body>

</html>